{% comment %}
Optional value
position: <string>
{% endcomment %}

<span class="cookies3-bgr {{ position }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="352.557" height="580.14" viewBox="0 0 352.557 580.14">
        <defs>
            <style>
                .cg3-1,.cg3-2{fill:#4f2b01}.cg3-2{fill-rule:evenodd}
            </style>
        </defs>
        <g id="Group_3693" data-name="Group 3693" transform="translate(95.567 -4727.651)">
            <g id="Group_2922" data-name="Group 2922" transform="translate(-9.377 4832.135)">
                <path id="Path_57446" d="M56.911 7.012a30.75 30.75 0 0 0-31.7-4.487 29.22 29.22 0 0 0-3.381 1.756 35.327 35.327 0 0 0-15.995 12.55c-9.857 13.9-6.762 33.117 5.8 44.279 11.156 9.914 30.5 12.705 41.18 1.131a30.047 30.047 0 0 0 15.823-22.012c2.243-12.406-1.807-25.202-11.727-33.217zm-46.177 27.6a3.559 3.559 0 1 1 3.559-3.559 3.559 3.559 0 0 1-3.559 3.555zm11.638 19.4a3.559 3.559 0 1 1 3.559-3.559 3.559 3.559 0 0 1-3.558 3.552zm17.846-38.801a3.559 3.559 0 1 1 3.559-3.559 3.559 3.559 0 0 1-3.559 3.559zM50.3 49.35a3.559 3.559 0 1 1 3.559-3.559A3.559 3.559 0 0 1 50.3 49.35z" class="cg3-1" data-name="Path 57446" transform="rotate(107 58.768 135.889)"/>
                <path id="Path_57444" d="M1415.336 1589.884a9.066 9.066 0 0 0 12.1.669c6.841-1.924 11.173-10.068 6.792-16.539A11.327 11.327 0 0 0 1422 1569.2a5.085 5.085 0 0 0-1.312-.169 4.205 4.205 0 0 0-4.231 3 12.776 12.776 0 0 0-3.559 5.07c-1.635 4.252-.945 9.511 2.438 12.783zm14.985-12.3a2.681 2.681 0 1 1-2.748 2.68 2.715 2.715 0 0 1 2.748-2.676zm-6.753 2.726a3.524 3.524 0 0 1 1.79.285 3.945 3.945 0 0 0-.669 1.365 1.6 1.6 0 0 1-1.643-.6c-.551-.75-.054-.899.522-1.046zm-5.474 3.276a2.681 2.681 0 1 1-2.748 2.68 2.714 2.714 0 0 1 2.748-2.676z" class="cg3-1" data-name="Path 57444" transform="translate(-1354.406 -1673.372)"/>
                <path id="Path_57445" d="M25.821 32.469C12.676 36.3-.707 24.708.029 11.317a17.817 17.817 0 0 1 1.543-6.34 8.232 8.232 0 0 0 5.218 1.7c.279 0 .541-.026.806-.047a7.875 7.875 0 0 0 7.221 4.061A7.987 7.987 0 0 0 23 3.99a8.3 8.3 0 0 0 5.009 1.536A7.906 7.906 0 0 0 35.878 0a18.138 18.138 0 0 1 1.346 1.711c7.245 10.843 1.139 27.105-11.403 30.758zm-10.49-16.712a5.161 5.161 0 1 0 5.161 5.161 5.161 5.161 0 0 0-5.161-5.161z" class="cg3-1" data-name="Path 57445" transform="scale(-1) rotate(88 110.324 -107.936)"/>
                <path id="Path_57447" d="M1386.869 2642.826c-.81-3.416 1.056-7.573 5.6-7.573a5.431 5.431 0 0 1 4.884 2.638 6.343 6.343 0 0 1 1.839-.265 5.475 5.475 0 0 1 4.444 2.011q.337-.034.7-.034a5.5 5.5 0 0 1 5.611 4.468c6.953-3.2 9.635-9.642 10.212-17.4a20.962 20.962 0 0 0-30.729-20.128c-14.019 7.421-14.362 27.296-2.561 36.283zm26.255-13.033a3.559 3.559 0 1 1-3.559 3.559 3.559 3.559 0 0 1 3.559-3.56zm-10.24-19.4a3.559 3.559 0 1 1-3.559 3.559 3.559 3.559 0 0 1 3.559-3.552zm-12.716 12.734a3.559 3.559 0 1 1-3.559 3.559 3.559 3.559 0 0 1 3.559-3.556z" class="cg3-2" data-name="Path 57447" transform="translate(-1267.593 -2606.065)"/>
                <path id="Path_57448" d="M328.535 2646.1c3.622 3.1 2.365 10.669-3.762 10.669-.054 0-.1-.007-.157-.008-.031.012-.055.032-.086.043a16.709 16.709 0 0 0 3.581 4.354 15.891 15.891 0 0 0 2.014 3.292c9.985 12.394 34.58.669 33.792-14.369-.433-8.256-6.938-14.337-14.076-17.44-7.381-3.209-15.5-5.8-21.995.55-.313.306-.607.626-.894.952a6.619 6.619 0 0 1-.937 6.41 6.056 6.056 0 0 1 2.52 5.547zm24.975-1.462a3.559 3.559 0 1 1-3.559 3.559 3.559 3.559 0 0 1 3.559-3.561zm-14.742-7.439a3.559 3.559 0 1 1-3.559 3.559 3.559 3.559 0 0 1 3.559-3.558zm-1.552 19.853a3.559 3.559 0 1 1-3.559 3.56 3.559 3.559 0 0 1 3.56-3.562z" class="cg3-1" data-name="Path 57448" transform="translate(-97.569 -2309.425)"/>
                <path id="Path_57449" d="M2490.342 2722.773a22.5 22.5 0 0 0 13.444-.742 12.816 12.816 0 0 1 .412-9.052 6.656 6.656 0 0 1 4.035-11.965c.179 0 .346.039.522.052a12.384 12.384 0 0 1 1.767-13.223 21.957 21.957 0 0 0-7.658-4.984c-.149-.061-.289-.142-.44-.2-11.308-4.232-23.146 3.784-26.292 14.738a20.353 20.353 0 0 0 14.21 25.376zm-4.119-28.436a6.677 6.677 0 1 1-6.677 6.677 6.677 6.677 0 0 1 6.677-6.676z" class="cg3-1" data-name="Path 57449" transform="translate(-2475.646 -2683.464)"/>
            </g>
            <path id="Path_57493" d="M55.383 181.655c10.646 4.775 22.3 5.9 32.654 2.9a104.125 104.125 0 0 0 41.077-4.359c38.012-12.272 51.971-42.926 54.768-80.536 5.41-72.735-71.011-122.825-135.444-88.72-68.272 36.137-62.938 139.371 6.945 170.715zM111.02 18.23a23.78 23.78 0 1 1-23.78 23.78 23.78 23.78 0 0 1 23.78-23.78zm-62.2 80.348a23.78 23.78 0 1 1-23.78 23.78 23.78 23.78 0 0 1 23.775-23.78z" class="cg3-2" data-name="Path 57493" transform="scale(-1) rotate(-23 -12931.8 -2256.158)"/>
        </g>
    </svg>  
</span>