{% comment %}
Optional value
position: <string>
{% endcomment %}

<span class="cookies4-bgr {{ position }}">
    <svg xmlns="http://www.w3.org/2000/svg" id="review-bkg" width="420.592" height="589.349" viewBox="0 0 420.592 589.349">
        <defs>
            <style>
                .cbreviews-1{fill:#4f2b01}
            </style>
        </defs>
        <path id="Color_Overlay" d="M1828.03 2443.466a17.541 17.541 0 0 1-2.014-.607 7.6 7.6 0 0 0 2.208-9 8 8 0 0 0-3.146-3.957 8.074 8.074 0 0 0-3.044-14.747c-.074-.246-.143-.49-.241-.74a7.937 7.937 0 0 0-3.362-4.089 17.221 17.221 0 0 1 5.168-3.607c11.8-5.355 26.953 2.595 28.128 15.735 1.007 11.258-8.97 21.423-19.935 21.422a17.532 17.532 0 0 1-3.762-.41zm7.785-31.013a5 5 0 1 0 1.814-.342 4.968 4.968 0 0 0-1.814.342z" class="cbreviews-1" data-name="Color Overlay" transform="translate(-1675.854 -2354.846)"/>
        <g id="Vector_Smart_Object" data-name="Vector Smart Object" transform="rotate(-112 14.347 1153.225)">
            <path id="Path_57324" d="M120.726 1577.451c-1.175-13.14-16.324-21.09-28.128-15.735a17.23 17.23 0 0 0-5.168 3.607 7.937 7.937 0 0 1 3.363 4.089c.1.25.167.495.241.74a8.074 8.074 0 0 1 3.044 14.747 8 8 0 0 1 3.146 3.957 7.6 7.6 0 0 1-2.208 9 17.49 17.49 0 0 0 2.014.608c12.317 2.705 24.817-8.476 23.696-21.013zm-18.744-3.557a4.989 4.989 0 1 1 6.464 2.823 4.967 4.967 0 0 1-6.464-2.823z" class="cbreviews-1" data-name="Path 57324" transform="translate(450.427 -197.283)"/>
        </g>
        <g id="Vector_Smart_Object-2" data-name="Vector Smart Object" transform="rotate(28 2314.812 568.623)">
            <path id="Path_57325" d="M120.726 1577.451c-1.175-13.14-16.324-21.09-28.128-15.735a17.23 17.23 0 0 0-5.168 3.607 7.937 7.937 0 0 1 3.363 4.089c.1.25.167.495.241.74a8.074 8.074 0 0 1 3.044 14.747 8 8 0 0 1 3.146 3.957 7.6 7.6 0 0 1-2.208 9 17.49 17.49 0 0 0 2.014.608c12.317 2.705 24.817-8.476 23.696-21.013zm-18.744-3.557a4.989 4.989 0 1 1 6.464 2.823 4.967 4.967 0 0 1-6.464-2.823z" class="cbreviews-1" data-name="Path 57325" transform="translate(450.427 -197.283)"/>
        </g>
        <path id="Color_Overlay-2" d="M97.03 1598.467a17.716 17.716 0 0 1-2.014-.608 7.6 7.6 0 0 0 2.208-9 8 8 0 0 0-3.146-3.957 8.074 8.074 0 0 0-3.044-14.746c-.075-.246-.143-.49-.241-.74a7.934 7.934 0 0 0-3.363-4.089 17.223 17.223 0 0 1 5.169-3.607c11.8-5.355 26.952 2.595 28.128 15.735 1.007 11.258-8.971 21.423-19.936 21.423a17.538 17.538 0 0 1-3.761-.411zm7.785-31.014a5 5 0 1 0 1.814-.342 4.967 4.967 0 0 0-1.814.342z" class="cbreviews-1" data-name="Color Overlay" transform="rotate(-70 -591.695 965.448)"/>
        <path id="Color_Overlay-3" d="M9.361 38.439a16.8 16.8 0 0 1-1.961-.607 7.723 7.723 0 0 0 2.153-9 7.964 7.964 0 0 0-3.068-3.957 7.778 7.778 0 0 0 3.076-9.688 7.463 7.463 0 0 0-6.045-5.058c-.072-.246-.14-.49-.235-.74A7.892 7.892 0 0 0 0 5.3a16.8 16.8 0 0 1 5.04-3.61c11.511-5.355 26.285 2.594 27.431 15.735.982 11.258-8.748 21.423-19.441 21.422a16.693 16.693 0 0 1-3.669-.408zm7.593-31.012a5.008 5.008 0 0 0-2.763 6.441 4.835 4.835 0 0 0 6.3 2.823 5.008 5.008 0 0 0 2.763-6.441 4.871 4.871 0 0 0-4.536-3.165 4.76 4.76 0 0 0-1.764.342z" class="cbreviews-1" data-name="Color Overlay" transform="rotate(139 204.815 93.285)"/>
    </svg>    
</span>