

<div class="background-wave">
  <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1366 105" style="margin-bottom: -5px;">
    <g>
      <title>background</title>
      <rect fill="none" id="canvas_background" y="0" x="0"/>
    </g>
    <g>
      <title>Layer 1</title>
      <g id="svg_1" fill="#000000" transform="translate(0,105) scale(0.10000000149011612,-0.10000000149011612) ">
      <path id="svg_2" style="fill: {{ color }};" d="m11258,1039c-230,-10 -368,-25 -538,-59c-183,-36 -317,-82 -495,-169c-131,-64 -204,-111 -540,-342c-245,-168 -420,-235 -646,-246c-290,-14 -618,67 -1109,274c-630,267 -1097,330 -1647,222c-269,-52 -462,-116 -988,-324c-899,-357 -1258,-417 -2105,-356c-926,67 -2152,209 -3017,349l-173,28l0,-208l0,-208l6830,0l6830,0l0,383l0,384l-132,41c-567,179 -1446,269 -2270,231z"/>
      </g>
    </g>
  </svg>
</div>