<div class="background-wave">
<svg viewBox="0 0 1366 105" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet">
<g>
    <title>background</title>
    <rect fill="none" id="canvas_background" y="0" x="0"/>
</g>
 <g>
  <title>Layer 1</title>
  <path stroke="null" fill="#FFFFFF" d="m239.51548,102.71212c23.07216,-1 36.91546,-2.5 53.9688,-5.9c18.35742,-3.6 31.79946,-8.2 49.6553,-16.9c13.1411,-6.4 20.46401,-11.1 54.16943,-34.2c24.57687,-16.8 42.13177,-23.5 64.80268,-24.6c29.09099,-1.4 61.9939,6.7 111.24795,27.4c63.19766,26.7 110.04418,33 165.21674,22.2c26.9844,-5.2 46.34495,-11.6 99.10998,-32.4c90.18206,-35.7 126.19469,-41.7 211.16045,-35.6c92.89053,6.7 215.87518,20.9 302.64657,34.9l17.35428,2.8l0,-20.8l0,-20.8l-685.1429,0l-685.1429,0l0,38.3l0,38.4l13.24141,4.1c56.87789,17.9 145.05368,26.9 227.71221,23.1z" id="svg_2"/>
  </g>
</svg>
</div>



  