<div class="product-thumbnail">
  {% if settings.display_vendor %}
    <span class="product-thumbnail__vendor">{{ product.vendor }}</span>
  {% endif %}

  <a href="{{ product.url | within: collection }}" class="product-thumbnail__title headline">
    {{ product.title }}
  </a>
</div>
