/* # Featured collection
================================================== */
$soft-pink : #ffb0b2;
$dark-sky-blue : #4899d4;
$product-review__height : 26px;

$product-width__desktop : 250px;
$product-height__desktop: 350px;
$product-width__mobile : 145px;
$product-height__mobile: 195px;

.featured-collection-section,
.block__featured-collection {

  section {
    padding: $gutter*3 0;
  }
  .thumbnail__caption {
    background: $white;
  }
  .product-thumbnail {
    padding: 8px 0;
  }

  .product-thumbnail__title.headline {
    font-size: 1rem;
  }

  .product-review__wrapper{
    text-align: left;
  }

  .flickity-viewport {
    box-shadow: inset 0 $input-border-width/(-2) 0 $cart-border-color;
  }

  .has-thumbnail-sticker {
    display: block;
    border-bottom: $input-border-width solid transparent;
    margin: 10px!important;
  }

  .flickity-slider 
  {
    .has-thumbnail-sticker {
      // min-height : 100%;
    }
  }
}

.block__featured-collection {

  .flickity-prev-next-button.previous {
    left: -50px;
    color:black;
    background-color: #f7ba17;
    @include respond-to('medium-down') {
      display: none;
    }
  }
  .flickity-prev-next-button.next {
    right: -50px;
    color:black;
    background-color: #f7ba17;
    @include respond-to('medium-down') {
      display: none;
    }
  }

  .product-thumbnail__review-stars{
    display: none;
  }

  .featured-collection__title {
    font-size: 2.2rem;
    margin: auto;
    margin-bottom: 50px;

    @include respond-to('medium-down') {
      margin-bottom: 10px;
    }
  }

  .featured-collection__btn {
    margin: auto;

    .button {
      width: 266px;
      max-width: none;
      height: 50px;
      border-radius: 25px;
      margin: 20px;
      background-color: $soft-pink;
    }
  }

  .featured-collection__icon_container {
    @include respond-to('medium-down') {
      display: none;
    }
  }

  .featured-collection__icon{
    position: absolute;
    right: -100px;
    top: 50%;

    p {
      width: 50px;
      font-family: 'Caveat';
      color: $dark-sky-blue;
      transform: rotate(15deg);
    } 

    .icon {
      width: 57px;
      height: 38px;
      color: $black;
    }
  }

  .footer-tag {
    font-weight: 600;
    a {color: black;}
  }
}

body.index .featured-collection-section {
  .section {
    border-top: none;
  }
  .thumbnail__caption {

    .product-thumbnail {
      padding: $gutter/2 0 0;
    }
    .product-thumbnail__title {
      font-family: 'Cooper Std';
      font-size: 16px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: $purpley-grey;
      min-height: 60px;
    }
  }
  .has-thumbnail-sticker .product-thumbnail__review-stars {
    background-color: #fff6f4;
    padding: 0 10px 2.5px 10px;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    height: 20px;
    font-size: 13px;
    font-weight: 600;
  }
  .has-thumbnail-sticker .product-thumbnail__review-stars .btn-pc {
    font-size: 0.8rem;
    padding-left: 20px;
    position: relative;
  }
  .has-thumbnail-sticker .product-thumbnail__review-stars .btn-pc img {
    position: absolute;
    margin: 3px;
    left: 0;
  }


}