/* # Featured collection
================================================== */
$soft-pink : #ffb0b2;
$dark-sky-blue : #4899d4;
$product-review__height : 26px;

$product-width__desktop : 250px;
$product-height__desktop: 350px;
$product-width__mobile : 145px;
$product-height__mobile: 195px;

.featured-collection {
  margin: auto;
}
.featured-collection-section,
.block__featured-collection {

  section {
    padding: $gutter*3 0;
  }
  .thumbnail__caption {
    background: $white;
  }
  .product-thumbnail {
    padding: 8px 0;
  }

  .product-thumbnail__title.headline {
    font-size: 1rem;
  }

  .product-review__wrapper{
    text-align: center;
  }

  .flickity-viewport {
    
  }

  .has-thumbnail-sticker {
    display: block;
    border-bottom: $input-border-width solid transparent;
//    margin: 10px!important;
  }

  .flickity-slider 
  {
    .has-thumbnail-sticker {
      // min-height : 100%;
    }
  }
  .has-no-arrows {
    .flickity-button {
      display: none !important;
    }
    .featured-collection__icon_container {
      display: none !important;
    }
  }
}

.block__featured-collection {

  .flickity-prev-next-button.previous {
    left: -50px;
    color: $dark-sky-blue;
    border: solid 2px $inpute-bkg;
    background-color: #fafafa;
    @include respond-to('medium-down') {
      display: none;
    }
  }
  .flickity-prev-next-button.next {
    right: -50px;
    color: $dark-sky-blue;
    border: solid 2px $inpute-bkg;
    background-color: #fafafa;
    @include respond-to('medium-down') {
      display: none;
    }
  }

  .product-thumbnail__review-stars{
    display: none;
  }

  .featured-collection__title {
    font-size: 2.2rem;
    margin: auto;
    margin-bottom: 50px;

    @include respond-to('medium-down') {
      margin-bottom: 10px;
    }
  }

  .featured-collection__btn {
    margin: auto;

    .button {
      width: 266px;
      max-width: none;
      height: 50px;
      border-radius: 25px;
      margin: 20px;
      background-color: $soft-pink;
    }
  }

  .featured-collection__icon_container {
    @include respond-to('medium-down') {
      display: none !important;
    }
  }

  .featured-collection__icon{
    position: absolute;
    right: -100px;
    top: 50%;

    p {
      width: 50px;
      font-family: 'Caveat';
      color: $dark-sky-blue;
      transform: rotate(15deg);
    } 

    .icon {
      width: 57px;
      height: 38px;
      color: $black;
    }
  }

  .footer-tag {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: $purpley-grey;
    height: 20px;
    position: relative;
    a {
      color: $purpley-grey;

      .icon {
        color: $purpley-grey;
        width: 15px;
        height: 15px;
      }
    }
  }
}


.featured-collection-section {
  .one-whole {
    width: 100%;
  }
  .section {
    border-top: none;
  }

  .product-review__wrapper{
    text-align: center;
  }
  .thumbnail__caption {

    .product-thumbnail {
      padding: $gutter/2 0 0;
    }
    .product-thumbnail__title {
      font-family: 'Cooper Std';
      font-size: 16px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: $purpley-grey;
      min-height: 60px;

      @include respond-to('medium-down') {
        font-size: 14px;
        line-height: 1;
      }
    }
  }
  .has-thumbnail-sticker .product-thumbnail__review-stars {
    background-color: #fff6f4;
    padding: 0 10px 2.5px 10px;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    height: 20px;
    font-size: 13px;
    font-weight: 600;
  }
  .has-thumbnail-sticker .product-thumbnail__review-stars .btn-pc {
    font-size: 0.8rem;
    padding-left: 20px;
    position: relative;
  }
  .has-thumbnail-sticker .product-thumbnail__review-stars .btn-pc img {
    position: absolute;
    margin: 3px;
    left: 0;
  }

  .featured-collection__icon {
      position: absolute;
      right: -80px;
      top: 50%;
      z-index: 5;
      p {
        width: 63px;
        height: 52.1px;
        font-family: 'Caveat';
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: left;
        color: $dark-sky-blue;
        transform: rotate(20deg);
      }

      .icon {
          width: 56px;
          height: 38px;
          color: #000;
          transform: rotate(10deg);
          margin-top: -10px;
          margin-left: -10px;
      }
  }

  .footer-tag {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: $purpley-grey;
    height: 20px;
    position: relative;
    a {
      color: $purpley-grey;

      .icon {
        color: $purpley-grey;
        width: 16px;
        height: 15px;
      }
    }
  }

  .yotpo  {
    .yotpo-stars .yotpo-icon {
      font-size: 14.5px  !important;
      padding-top: 4px  !important;
    }
    a.text-m {
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal  !important;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: left;
      color: $black !important;
      margin-left: 5px;
    }
  }
  .flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 9%;
    left: 12%;
  }
  .flickity-button {
    background: #fafafa;
    border: 2px solid $inpute-bkg;
    width: 40px;
    height: 40px;
  }
  .flickity-button-icon {
    fill: $dark-sky-blue;
  }
  .flickity-prev-next-button.next {
    right: -10px;
  }
  .flickity-prev-next-button.previous {
    left: -10px;
  }

  .has-no-arrows {
    .flickity-button {
      display: none !important;
    }
    .featured-collection__icon_container {
      display: none !important;
    }
  }

  .featured-collection__icon_container {
    @include respond-to('medium-down') {
      display: none !important;
    }
  }
}

.product-wrap {
  .yotpo  {
    .yotpo-stars .yotpo-icon {
      font-size: 14.5px  !important;
      padding-top: 4px  !important;
    }
    a.text-m {
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal  !important;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: left;
      color: $black !important;
      margin-left: 5px;
    }
  }
  .product-thumbnail {
    .product-thumbnail__title {
      font-family: 'Cooper Std';
      font-size: 16px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: $purpley-grey !important;
      min-height: 60px;

      @include respond-to('medium-down') {
        font-size: 14px;
        line-height: 1;
      }
    }
  }
}

/*tooltip Box*/
.con-tooltip {

  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: default;
  z-index: 50;
}

/*tooltip */
.tooltip-text {
  visibility: hidden;
  z-index: 1;
  opacity: .40;
  
  width: 100%;
  min-width: 200px;
  padding: 20px;

  background: $purpley-grey;
  color: $white;
  
  position: absolute;
  top:-140%;
  left: -25%;
  border-radius: 9px;
  font: 16px;
  z-index: 20;
  transform: translateY(9px);
  transition: all 0.3s ease-in-out;
  white-space: normal;
  box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}


/* tooltip  after*/
.tooltip-text::after {
  content: " ";
  width: 0;
  height: 0;
  
  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: $purpley-grey transparent transparent transparent;
  z-index: 20;
  position: absolute;
  left: 40%;

}

.con-tooltip:hover .tooltip-text{
  visibility: visible;
  transform: translateY(-10px);
  opacity: 1;
  transition: .3s linear;
  animation: jump 1s ease-in-out infinite  alternate;
}
@keyframes jump {
  0%{
    transform: translateY(6px);	
  }
  100%{
    transform: translateY(1px);	
  }
}

/*hover ToolTip*/
.left:hover {transform: translateX(-6px); }
.top:hover {transform: translateY(-6px);  }
.bottom:hover {transform: translateY(6px);}
.right:hover {transform: translateX(6px); }

/*left*/
.left .tooltip-text{ top:-20%; left:-170%; }
.left .tooltip-text::after{
  top:40%;
  left:90%;
  transform: rotate(-90deg);
}

/*bottom*/
.bottom .tooltip-text { top:125%; left: 0%; }
.bottom .tooltip-text::after{
  top:-10%;
  left:40%;
  transform: rotate(180deg);
}

/*right*/
.right .tooltip-text { top:-20%; left:115%; }
.right .tooltip-text::after{
  top:40%;
  left:-12%;
  transform: rotate(90deg);
}