/* # Header - Search focus
================================================== */

{% if settings.header_layout == "search_focus" %}

.navbar {
  @include flex-wrap(wrap);
}

.header {
  background-color: $header-background;
  transition: background-color 0.3s linear, height 0.2s linear;

  @include respond-to('medium-down') {
    display: none;
  }
}

.header__menu {
  width: 100%;
}

.header__inner-content {
  @include flex(0 0 auto);
  @include flexbox();
  @include align-items(center);
  padding: 1.5rem 0.75rem 0.5rem;
  width: 100%;

  .header__currency-dropdown {
    overflow: visible;
  }
}

.header__logo {
  transition: all 0.1s linear;
  display: block;

  + .header__logo-text {
    display: none;
  }
}

.header__search {
  @include flex(1);
  padding: 0 2rem;

  .field {
    margin-bottom: 0;
  }

}

.header__search-bar {
  width: 100%;

  input {
    border-radius: 0;
  }
}

.header__search-button {
  border-radius: 0;
}

.header__menu-items {
  height: 100%;
  position: relative;
}

.header-cart {
  position: relative;

  @include respond-to('medium-down') {
    position: static;
  }
}

.action-area__link.has-cart-count {
  padding-right: 1.8em;
}

.header__menu-toggle {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

// Sticky-only elements

.is-sticky .sticky-menu-wrapper {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: visibility 0s linear 0.1s, opacity 0.33s linear, max-height 0.33s linear;
}

.sticky-header__menu {
  padding: 10px 0;
}

// Sticky state

.sticky-menu-wrapper.is-visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear, opacity 0.33s linear 0.1s, max-height 0.33s linear 0.1s;
  max-height: 100%;
}

.is-sticky {

  .header__inner-content {
    padding-top: 0.5rem;
  }

  .header__menu-toggle {
    cursor: pointer;
    margin-right: 2rem;
    visibility: visible;
    position: relative;
    height: 100%;
    opacity: 1;
    transition: visibility 0s linear, opacity 0.33s linear 0.1s;
    @include flexbox();
    @include align-items(center);

    .header__close-menu {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transition: visibility 0s linear, opacity 0.33s linear 0.1s;
    }

    &.is-active {

      .header__open-menu {
        opacity: 0;
        visibility: hidden;
        position: absolute;
      }

      .header__close-menu {
        opacity: 1;
        visibility: visible;
        position: relative;
      }
    }
  }
}

{% endif %}
