/* # Header - Classic
================================================== */

{% if settings.header_layout == "classic" %}

.header {
  background-color: $header-background;
  transition: background-color 0.3s linear, height 0.2s linear;
  height: auto;
  background-color: #ffffff;
  margin-bottom: 0;

  .section.is-width-wide {
    width: 81%;
    margin: 0 auto;
  }

  .header__button.has-padding-left {
    padding-left: 24px;
  }
}

.header__brand {
  @include flex(0 0 auto);
  @include flexbox();
  @include align-items(center);
  padding: 1rem 0.75rem;
}

.primary-logo {
  transition: all 0.1s linear;

  + .header__logo-text {
    display: none;
  }
}

.header__menu {
  @include flex(1 1 auto);
  @include flexbox();
  @include flex-wrap(wrap);
  margin-left: -10px;
}

.action-area__link.has-cart-count {
  padding-right: 1.8em;
}

.header__icons {
  @include flex(2 2 auto);

  .action-area__link {
    padding-left: 1.15rem;

    .icon {
        width: 20px;
        height: 20px;
    }
  }
  a {
    color: {{ settings.header_cart_badge_color }};
  }
}

// Overlay header

[data-enable_overlay="false"] .overlay-logo {
  display: none;
}

[data-enable_overlay="true"] {
  position: absolute;
  width: 100%;

  .header {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 10;
  }

  .overlay-logo {
    display: block;
  }

  .overlay-logo + .primary-logo {
    display: none;
  }

  .overlay-logo + .header__logo-text {
    display: none;
  }

}

// Sticky header

[data-enable_sticky="true"] .header {
  z-index: 50;
}

.has-overlaid-header {
  position: absolute;
  width: 100%;
}

{% endif %}
