/* # Icon with text column
================================================== */

.icon-with-text__title {
  text-align: center;
  line-height: 1.34;
  margin : $gutter;
  @include respond-to('medium-down') {
    font-size: 24px;
  }
}

.icon-column__title {
  font-size: 1.2rem;
  color: #4698ca;
  padding: 15px;
}
.icon-with-text-column__column {

  .icon {
    margin-bottom: 20px;
    @include respond-to('medium-down') {
      margin-bottom: 0;
      margin-top: 20px;
    }

    &.is-small {
      height: 2.8rem;
      width: 2.8rem;
    }

    &.is-medium {
      height: 3.6rem;
      width: 3.6rem;
    }

    &.is-large {
      height: 5.4rem;
      width: 5.4rem;
    }
  }
}
