/* # Icon with text column
================================================== */

.icon-with-text__title {
  font-size: 2.2rem;
  text-align: center;
  line-height: 1.34;
  margin-bottom : $gutter*4;

  @include respond-to('medium-down') {
    font-size: 24px;
    margin-bottom : $gutter*2.5;
    padding: 0;
  }
}

.icon-column__title {
  font-weight: 600;
  color: $sale-color;
  padding: $gutter/2;

}
.icon-with-text-column__column {
  .icon {
    @include respond-to('medium-down') {
    }

    &.is-small {
      height: 2.8rem;
      width: 2.8rem;
    }

    &.is-medium {
      height: 4rem;
      width: 4rem;
    }

    &.is-large {
      height: 5.4rem;
      width: 5.4rem;
    }
  }
}
