/* # Image with text column
================================================== */

.image-with-text__title {
  text-align: center;
  line-height: 1.34;
  margin : $gutter;
  @include respond-to('medium-down') {
    font-size: 24px;
  }
}

.image-column__title {
  font-size: 1.2rem;
  color: #4698ca;
  padding: 15px;
}
.image-with-text-column__column {

  .image {
    margin-bottom: 20px;
    @include respond-to('medium-down') {
      margin-bottom: 0;
      margin-top: 20px;
    }

    &.is-small {
      height: 2.8rem;
      width: 2.8rem;
    }

    &.is-medium {
      height: 3.6rem;
      width: 3.6rem;
    }

    &.is-large {
      height: 5.4rem;
      width: 5.4rem;
    }
  }
}

.image-with-text-column__title {
  h3 {
    font-size: 35px;
    margin-bottom: 25px;
  }

  .image-with-text__text {
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: center;
    color: $black;
  }
}


body.index {

  .image-with-text-column__column_1 {
    .image-element__wrap {
      max-width: 200px;
      margin-top: 20px;
      margin-bottom: 30px;
    }
    .image-column__text p {
      font-size: 16px;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: $white;
    }
  }
  .image-with-text-column__column_2 {
    .image-element__wrap {
      max-width: 195px;
      margin-bottom: 5px;
    }
    .image-column__text p {
      font-size: 16px;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: $white;
    }

    .image-column__action .button {
      max-width: 240px;
      height: 45px;
      background-color: $purpley-grey;
      color: $white;
      margin-top: 50px;
      margin-bottom: 30px;

      &:hover {
        background-color: rangey-yellow;
        color: black;
      }
    }

    .image-column__note_text {
      font-size: 16px;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: $white;
    }
  }
  .image-with-text-column__column_3 {
    .image-element__wrap {
      max-width: 90px;
      margin-top: 28px;
      margin-bottom: 36px;
    }
    .image-column__text p {
      font-size: 16px;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: $white;
    }
  }
}