/* # Instagram
================================================== */

.has-gutter-enabled {
  .instagram__item,
  .instagram__placeholder {
    margin-bottom: 20px;
  }
}

.instagram__item,
.instagram__placeholder {
  position: relative;
  overflow: hidden;
}

.instagram__item:hover {

  .instagram__bg {
    transform: $transition-zoom;
  }


  .instagram-overlay {
    @include respond-to('medium-up') {
      background-color: rgba(0,0,0,0.7);
      visibility: visible;
      opacity: 1;
    }
  }
}

.instagram__item:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.instagram__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.instagram__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  transition: all $transition-speed ease-in-out;
}

.instagram__video-link {
  &:after, &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
  }
  &:after {
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-left: 20px solid #fff;
    margin-top: -18px;
    margin-left: -7px;
    -webkit-filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.25));
  }
  &:before {
    margin-top: -34px;
    margin-left: -34px;
    width: 60px;
    height: 60px;
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(black, 0.18);
  }
  &:hover {
    &:before {
      background: rgba(black, 0.7);
    }
  }
}

.instagram-overlay {
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
  @include flexbox();
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(black, 0.42);
  transition: opacity $transition-speed ease-in-out;
  text-align: center;
  opacity: 0;
  z-index: 2;

  span {
    color: white;
  }

  .icon {
    margin-bottom: 10px;
    height: 1.5em;
    width: 1.5em;
  }
}

.heading-wrapper--instagram {
  &.heading-wrapper {
    margin-bottom: 10px;
  }
}
.heading-wrapper--tags {
  &.heading-wrapper {
    margin-bottom: 45px;
  }

  .tags__title {
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.17;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
  }
}