/* # Landing Hero
================================================== */
.landing-hero{
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    height: 629px;
    margin: auto;
    padding-left: calc(10% - 100px);
    padding-top: 159px;
    width: 81%;
    .image-block{
        display: table;
        width: 315px;
        
        div{
            width: 33.3%;
            float: left;
            height: 35px;
          }
      }
      .logo-header{
        margin-top: 38px;
        font-family: "CooperStd", sans-serif;
        font-size: 19px;
        font-weight: 900;
        line-height: 2.37;
        text-align: left;
        color: #000000;
      }
      .button-access {
        width: 112px;
        height: 45px;
        background-color: #000000;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 600;
        line-height: 1.23;
        letter-spacing: 0.2px;
        text-align: center;
        color: #ffffff;
        margin-left: -4px;
        border-left: none;
      }
      .email{
        width: 203px;
        height: 45px;
        padding: 0 0 0 10px;
        font-family: Montserrat;
        font-size: 14px;
        line-height: 2.86;
        color: #4b4a4a;
        border-radius: 5px 0px 0px 5px;
      }
      .hero-header{
        width: 315px;
        height: 114px;
        margin: 0 0 10px;
        font-family: "CooperStd", sans-serif;
        font-size: 34px;
        font-weight: 900;
        line-height: 1.18;
        text-align: left;
        color: #000000;
      }
      .hero-content{
        width: 315px;
        height: 43px;
        margin: 10px 0 18px;
        font-family: 'Montserrat', serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        text-align: left;
        color: #4b4a4a;
      }
}