/* # List of collections page
================================================== */

.list-collection-wrapper .list-collection__thumbnail {
  display: block;
  margin-bottom: 30px;
}

.collection-list {
  .has-no-side-gutter .list-collection__thumbnail {
    margin-bottom: 0;
  }
}

.list-collection__thumbnail {
  overflow: hidden;

  .product-wrap {
    position: relative;
    overflow: hidden;

    &:hover img,
    &:hover svg {
      @include prefix(transform, scale(1.1), ms webkit spec);
    }
  }

  img,
  svg {
    transition: all 0.3s ease-in-out;
  }
}

.collection-thumbnail-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.collection-info__caption {
  @include flexbox();
  @include align-items(flex-end);
  @include flex-wrap(wrap);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 2;

  .title {
    display: block;
    margin-bottom: 20px;
    @include headline-style($headline-font-size);
  }
}

.collection-info__caption--below-image {
  padding: 20px;
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);

  .title {
    text-align: center;
  }
}


