/* # Logo list slider
================================================== */

.logo-list-slider {

  .has-background {
    padding-top: 20px;
  }
  .mobile-slider  {
    position: relative;

     div.container:first-of-type {
      @include respond-to('medium-down') {
        position: static;
      }
    }


    .logo-list-slider__nav-wrapper {
      display: block !important;
      .logo-list-slider__nav{
        position: absolute;
        top: 70px;
        content: '';
        width: 36px;
        height: 36px;
        display: block;
        z-index: 10;

        .icon svg {
          display: none;
        }
      }

      .logo-list-slider__nav.logo-list-slider__nav--prev .icon{
        left: 0;
        background: url('{{ "grey-arrow-left.svg" | asset_url }}') no-repeat 0 0 transparent;
        background-size: contain;
        width: 36px;
        height: 36px;
      }
      .logo-list-slider__nav.logo-list-slider__nav--next {
        right: 0;
        background: url('{{ "grey-arrow-right.svg" | asset_url }}') no-repeat 0 0 transparent;
        background-size: contain;
        width: 36px;
        height: 36px;
      }
    }
    body.index .logo-list-slider__nav-wrapper {
      display: none !important;
    }
  }
  


  .logo-list-slider__wrapper {
    @include respond-to('small-down') {
      max-width: $site-max-width;
      width: $site-width;
    }
  }


  .logo-list-slider__item {
    .image-element__wrap {
      min-height: 60px;
      padding: 20px;
    }
    h5 {
      font-size: 24px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.42;
      letter-spacing: normal;
      text-align: center;
      color: $dark-sky-blue;
      padding: 40px 0 20px;
    }
    p {
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
    }
  }
}

body.index .logo-list-slider {
  background: url('{{ "text-with-icon-bkg.svg" | asset_url }}') no-repeat -75px 0 transparent;
  background-size: calc(100% + 100px) auto;
  z-index: 3;
  @include respond-to('medium-down') {
    background: transparent;
  }
  .flickity-prev-next-button {
    @include respond-to('medium-down') {
      top: 105% !important;
      z-index: 10;
    }
  }  
  .flickity-viewport {
    @include respond-to('medium-down') {
      margin-bottom: 25px;
    }
  }
}

body.index {

  .rich-text__heading.title {
    @include respond-to('medium-down') {
      font-size: 19px !important;
      font-weight: 900 !important;
      font-stretch: normal !important;
      font-style: normal !important;
      line-height: 1.47 !important;
      letter-spacing: normal !important;
      text-align: center !important;
    }
  }
}