.monthly-box-page {
    .Monthly-box_products-section {
        .product {
            margin-top: 15px;
            margin-bottom: 15px;

            .column {
                &:hover {
                    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    position: absolute;
                    top: -5px;
                }
            }

            .featured-product__images {
                margin-bottom: 0px;
            }
            .top_badge {
                background-color: #f1f9ff;
                min-height: 40px;
                height: 40px;

                p {
                    color: #a57096;
                    font-family: Caveat;
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 1.88;
                    text-align: center;
                }
            }
            @include respond-to($medium-down) {
                max-width: none;
            }

            .modal_price.subtitle {
                position: absolute;
                background-color: white;
                padding: 5px 10px;
                border-bottom-right-radius: 15px;

                span {
                    font-size: 19px;
                    font-weight: bold;
                    text-align: center;
                }
            }
            .product-gallery__main {
                opacity: 1;
            }

            .featured-product__details {
                background-color: white;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                padding: 20px;

                .product-thumbnail__title {
                    font-size: 19px;
                    text-align: center;
                    color: #a57096;
                    margin-bottom: 0;
                }
            } 
            
            .button--add-to-cart {
                width:100%;
                border-radius: 25px;

                .text {
                    font-weight: bold;
                }
            }


            .select-container {
                label.label{
                    font-size: 16px;
                    text-align: center;
                    color: #191919;
                }

                select {
                    border-radius: 25px;
                    border: solid 2px #bce0fd;
                    width: 100%;
                    height: 45px;
                    text-align: center;
                    line-height: 1;
                    outline: 0;
                    padding: 0.65em 2.5em 0.55em 0.75em;
                }
            }
        }
    }
}