/* # Persons
================================================== */

.team-section {

    .image-element__wrap img {
      max-width: 200px;
      margin: 0 auto;
    }
    .person-column__text {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;   
      
      .person-column__title {
        font-size: 16px !important;
        font-weight: 600;
        color: $purpley-grey;
        margin-bottom: 3px;
      }
    }

}