/* # Persons
================================================== */

.team-section {

    .image-element__wrap img {
        max-width: 150px;
        margin: 35px auto 35px;
    }
    .person-column__text {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;   
      
      .person-column__title {
        font-size: 16px !important;
        font-weight: 600;
        color: #f83547;
        margin-bottom: 3px;
      }
    }

}