/* # Sidebar
================================================== */

.sidebar-section {

  @include respond-to('medium-down') {
    @include order(1);
    width: 100% !important; //to overwrite desktop styles set inside of section

    & + .has-sidebar-option {
      width: 100% !important; //to overwrite desktop styles set inside of section
    }
  }
}

.sidebar-block__heading {
  @include flexbox();
  @include align-items(center);
  position: relative;

  + .sidebar-block__content {
    padding-top: 0.9rem;
  }
}

.sidebar-block__content {
  margin-bottom: 20px;
}

.sidebar__block {

  &.sidebar-toggle-active {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

// Sidebar Toggling
.sidebar-block__toggle-icon {
  position: absolute;
  right: 0;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  background: transparent;

  &:focus {
    outline: 0;
  }
  .icon {
    color: $black;
    transition: transform 0.2s linear;
  }
}

// Hide second toggle icon by default
.icon-style--plus_and_minus .icon.icon--active + .icon {
  display: none;
}

.sidebar-toggle-active.is-active {

  .icon-style--carets .icon {
    @include prefix(transform, rotate(180deg), ms webkit spec);
  }

  .icon-style--plus_and_minus .icon.icon--active {
    display: none;

    + .icon {
      display: block;
    }
  }

}

[data-sidebar-block__content--collapsible] {
  display: none;
}

.sidebar-block__recent-post {
  margin-bottom: 10px;
  .label {
    font-weight: normal;
  }
}

.block__featured-promo {

  @include respond-to('medium-up') {
    width: 75%;
  }

  .card-content {
    padding: 20px;
  }

  .sidebar__promo-content {
    margin-left: 0;
  }
}

.block__newsletter {
  .newsletter-section {
    width: 100%;
  }
  .newsletter__text {
    color: inherit !important; // Inherit color of parent section
  }
}

.block__menu {

  .sidebar-block__item {
    margin-bottom: 5px;
  }
}

.block__tag-filter {

  .tag-filter__item {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    margin-bottom: 5px;
  }

  .tag-filter__label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    color: $link;
    transition: 0.2s linear;
    @include flexbox();
    @include align-items(center);

    &:hover {
      color: $link-hover;
    }
  }

  .tag-filter__item.is-active .tag-filter__label {
    cursor: initial;
    color: initial;

    &:hover {
      color: initial;
    }
  }

  .tag-filter__checkbox--regular {
    display: none;
  }

  .tag-filter__swatch {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    {% if settings.swatch_style != 'square' %}
      border-radius: 50%;
    {% endif %}
    display: inline-block;
    position: relative;
    vertical-align: top;
    background-size: cover;
    margin-right: 10px;
    font-size: 0;

    input[style*="no-image-50"],
    input.swatch__image--empty {
      opacity: 0;
    }
  }

  .tag-filter__checkbox--swatch {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 20px;
    {% if settings.swatch_style != 'square' %}
      border-radius: 50%;
    {% endif %}
    background-size: cover;
    background-position: center;
  }
}
