/* # Testimonial
================================================== */

.testimonials {
  @include flexbox();

  &:after {
    content: 'flickity';
    display: none;
  }
  .flickity-page-dots {
    text-align: left;
    bottom: 20px;
    left: 130px;
    width: auto;
    
    .dot {
      background: #2699fb;
      border-radius: 10px;
    }
  }

  .testimonial__nav {
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top: calc(50% - 15px);

    &.testimonial__nav--prev {
      left: -6px;
    }
    &.testimonial__nav--next {
      right: -6px;
    }
  }

  .one-third {
    margin: auto;
  }

  .two-thirds {
  }

  .flickity-button-icon {
    fill: #4899d4;
  }

  @include respond-to('medium-down') {
    .flickity-button {
      top: 40%;
    }

    .flickity-prev-next-button.previous {
      left: auto;
      right: 60px;
    }
    .flickity-prev-next-button.next {
      left: auto;
      right: 20px;
    }

    .flickity-page-dots {
      bottom: 40px;
      left: 115px;
    }
  }
}

.testimonial-block {
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  overflow: hidden;

  @include respond-to('medium-down') {
    margin-bottom: 20px;
  }

  &.testimonial-border--true {
    border: thin solid $border;
  }

  &.testimonial-align--center {

    .testimonial__description {
      @include justify-content(center);
      text-align: center;
    }
    .testimonial__name {
      @include justify-content(flex-start);
      text-align: center;
    }

    .testimonial__image {
    }
  }
}

.testimonial__description {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  text-align: left;
  width: 100%;
  position: relative;
}

.testimonial__name {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(flex-start);
  text-align: left;
  width: 100%;
  position: relative;
}

.testimonial__name {
  @include align-self(center);
  padding: 10px 40px 25px;
  max-height: 125px;
  height: 125px;

  @include respond-to('large-down') {
    font-size: 0.85rem;
  }

  @include respond-to('medium-down') {
    font-size: 1rem;
    max-height: 23vh;
    height: 23vh;
  }
  p {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #a57096;
  }
}

.testimonial__description {
  @include align-self(center);
  padding: 20px 40px 10px;
  min-height: 230px;

  .testimonial__description-quote {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 30px;

    p{
      font-size: 1.2rem;
    }
  }
}

.testimonial__image {
  max-height: 400px;

  @include respond-to('medium-down') {
    -webkit-order: -1;
    order: -1;
    width: 100%;
    min-height: 350px;


  }

  .placeholder-svg{
    max-height: none;
  }
}

.testimonial__nav-wrapper {
  @include justify-content(flex-end);

  @include respond-to('small-down') {
    @include justify-content(space-between);
  }
}

.testimonial__nav {
  color: $link;
  margin-bottom: 10px;
  cursor: pointer;

  &:first-child {
    margin-right: 10px;
  }

  &:hover {
    color: $link-hover;
  }
}

.testimonial-block.has-images-enabled-true {
  .testimonial__name {
        /* margin-top: 40px; */
  }
}

.testimonial-block.has-images-enabled-false {
  .testimonial__name
  .testimonial__description {
    padding: 40px;
  }
}

.circle_percent {
  width: 80px;
  height: 80px;
  background: #f7ba17;
  border-radius: 50%;
  font-family: Caveat;
  font-size: 30px;
  font-weight: bold;
  margin: auto;
  padding: 15px;
}

.is-width-wide .testimonial__nav:last-child {
  margin-right: 10px;
}

.mobile-slider .testimonials {

  &:after {
    @include respond-to('medium-up') {
      content: '';
    }
  }
}

.desktop-slider--disabled {

  .testimonial__nav-wrapper {
    @include respond-to('medium-up') {
      display: none;
    }
  }

  .testimonial__description {
    height: initial;
  }
}

.testimonial__name {
  display: table;
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
}

.testimonial_title{
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}