/* # Testimonial
================================================== */

.testimonials {
  @include flexbox();

  &:after {
    content: 'flickity';
    display: none;
  }
  .flickity-page-dots {
    bottom: 40px;
    .dot {
      width: 40px;
      background: #f4364c;
      border-radius: 0;
      height: 3px;
    }
  }

  .testimonial__nav {
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top: calc(50% - 15px);

    &.testimonial__nav--prev {
      left: -6px;
    }
    &.testimonial__nav--next {
      right: -6px;
    }
  }
}

.testimonial-block {
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  min-height: 100%;
  overflow: hidden;

  @include respond-to('medium-down') {
    margin-bottom: 20px;
  }

  &.testimonial-border--true {
    border: thin solid $border;
  }

  &.testimonial-align--center {

    .testimonial__description {
      @include justify-content(center);
      text-align: center;
    }
    .testimonial__name {
      @include justify-content(flex-start);
      text-align: center;
    }

    .testimonial__image {
      left: 50%;
      margin-left: -50px;
    }
  }
}

.testimonial__description {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  text-align: left;
  width: 100%;
  position: relative;
}

.testimonial__name {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(flex-start);
  text-align: left;
  width: 100%;
  position: relative;
}

.testimonial__name {
  @include align-self(center);
  padding: 10px 40px 25px;
  max-height: 125px;
  height: 125px;

  @include respond-to('large-down') {
    font-size: 0.85rem;
  }

  @include respond-to('medium-down') {
    font-size: 1rem;
    max-height: 23vh;
    height: 23vh;
  }
  p {
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: center;
  }
}

.testimonial__description {
  @include align-self(center);
  padding: 20px 40px 10px;
  height: 100%;
  min-height: 230px;

  .testimonial__description-quote {
    max-width: 600px;
    margin: 0 auto;
  }
}

.testimonial__image {
  position: absolute;
  margin-top: -50px;
  height: 100px;
  width: 100px;
  max-width: 100px;
  max-height: 100px;
  top: 0;

  &.image-style--circle img,
  &.image-style--circle svg {
    border-radius: 50%;
  }
}

.testimonial__nav-wrapper {
  @include justify-content(flex-end);

  @include respond-to('small-down') {
    @include justify-content(space-between);
  }
}

.testimonial__nav {
  color: $link;
  margin-bottom: 10px;
  cursor: pointer;

  &:first-child {
    margin-right: 10px;
  }

  &:hover {
    color: $link-hover;
  }
}

.testimonial-block.has-images-enabled-true {
  .testimonial__name {
    margin-top: 40px;
  }
}

.testimonial-block.has-images-enabled-false {
  .testimonial__name
  .testimonial__description {
    padding: 40px;
  }
}

.is-width-wide .testimonial__nav:last-child {
  margin-right: 10px;
}

.mobile-slider .testimonials {

  &:after {
    @include respond-to('medium-up') {
      content: '';
    }
  }
}

.desktop-slider--disabled {

  .testimonial__nav-wrapper {
    @include respond-to('medium-up') {
      display: none;
    }
  }

  .testimonial__description {
    height: initial;
  }
}
