/* # Top bar
================================================== */

.top-bar {
 /* height: 2.725rem; */
  
  @include respond-to('medium-down') {
    display: none;
  }
}

.top-bar .navbar-item {
  @include flex(1 1 auto);
  text-align: center;
}

.top-bar__text {
  @include flex(0 0 auto);
}

.top-bar__item {
  @include flexbox();
  @include align-items(center);

  &:first-child {
    @include justify-content(flex-start);
  }

  &:last-child {
    @include justify-content(flex-end);
  }
}

.top-bar__menu {
  @include flex(0 0 auto);
  @include flexbox();
  @include align-items(center);

  @include respond-to('medium-down') {
    @include justify-content(center);
  }
}

.top-bar__social-media {

  a {
    line-height: 0;
    margin-left: 5px;
    margin-right: 5px;
    display: block;
  }

  .social-icons {

    @include respond-to('medium-down') {
      @include justify-content(center);
    }
  }
}

.top-bar__icons.cart--hidden {
  padding-right: 20px;
}

.top-bar__content {

  .header__currency-dropdown select {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }

  .header__icon-style-text .header__currency-dropdown select {
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
    line-height: inherit;
  }
}
