/* # Video
================================================== */

$play-icon-size: 81px;

.featured-video.is-width-half.has-video-added {

  @include respond-to('medium-down') {
    background-color: transparent;
  }

  .video-wrapper {
    @include flex(1);
  }
}

.featured-video {
  width: 100%;
}

.video__container {
  width: 100%;

  @include respond-to('medium-down') {
    .column {
      margin-left: 0;
      margin-right: 0;
    }
    .one-whole {
      width:100%;
    };
  }
  
  .video-title {
    padding-bottom: 20px;
    line-height: 1.2;
  }

  .video-title.is-regular {
    font-size: 35px;

    @include respond-to('medium-down') {
      font-size: 24px;
    }
  }

  .video-subtitle{
    padding-bottom: 30px;
  }

  .video-wrapper {
    position: relative;
    background-color: $black;

    @include respond-to('medium-down') {
      .lazyframe[data-ratio="16:9"]:before{
        padding-top:100%
      }
      
      .lazyframe[data-ratio="4:3"]:before{
        padding-top:100%
      }
    }

    &.overlay--text_only {
      .video__text-wrapper {
        position: relative;
      }
    }

    video {
      display: block;
      width: 100%;
      height: auto;
    }

    video[poster] {
      @include object-fit(cover);
    }

    .poster-enabled {
      background-size: cover;

      iframe {
        z-index: -1;
      }
    }

    [data-video-element] {
      @include respond-to('medium-down') {
        @include order(2);
      }
    }

    .video__text-container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 5;

      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -1;
      }

      @include respond-to('medium-down') {
        margin: 0;
      }
    }

    .video__text {
      height: 100%;
      text-align: center;
      @include flexbox();
      @include flex-direction(column);
    }

    .video__text-wrapper {
      margin: 0;
      padding: 30px;

      .button {
        max-width: 50%;

        @include respond-to('medium-down') {
          max-width: 100%;
        }
      }
    }

    .video__watch-now-btn {
      position: absolute;
      left: 0%;
      width: 221px;
      height: 63px;
      line-height: 50px;
      background-color: #fff6f4;
      border-radius: 0px 90px 90px 0;
      text-align: center;

      @include respond-to('medium-down') {
        width: 40%;
        height: 20%;
      }

      p{
        font-size : 1.2rem;
        font-weight: bold;
        text-transform: uppercase;

        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);

        @include respond-to('medium-down') {
          font-size: 0.7rem;
        }
      }
    }

    @include respond-to('medium-down') {
      @include flexbox();
      @include flex-direction(column);
    }
  }

  .play-icon {
    .icon {
      width: $play-icon-size;
      height: $play-icon-size;
      cursor: pointer;

      @include respond-to('medium-down') {
        width: 55px;
        height: 55px;
      }

      .cls-1 {
        fill: $btn-primary-bg-color;
      }
      .cls-2 {
        fill: $btn-primary-bg-color-highlight;
      }
      &:hover {
        .cls-1 {
          fill: $btn-primary-bg-color-highlight;
        }
        .cls-2 {
          fill: $btn-primary-bg-color;
        }
      }
    }
  }

  .button-wrapper {
    padding-top: 24px;
    
    .button--app-store {
      width: 115px;
      height: 35px;
      display: block;
      background: url('{{ "appstore.svg" | asset_url }}') no-repeat 0 0 transparent;
      font-size: 0 !important;
      border: none !important;
      margin-right: 7px;
    }

    .button--google-play {
      width: 115px;
      height: 35px;
      display: block;
      background: url('{{ "gplay.svg" | asset_url }}') no-repeat 0 0 transparent;
      font-size: 0 !important;
      border: none !important;
      margin-right: 7px;
    }
  }

  .buttons .button {
    width: 180px;
    height: 50px;
    font-size: 19px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: 0.19px;
    text-align: center;
  }
}

.review {
  text-align: center;
  padding: 20px;

  .review_content {
    
    font-size: 1.2rem;
    color: #2e2e2e;

    @include respond-to('medium-down') {
      font-size: 1rem;
    }
  }

  .review_name {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2.81;

    @include respond-to('medium-down') {
      font-size: 1rem;
    }
  }
}

.video-wrapper {

  @include respond-to('medium-down') {
    border-radius: 10px;
    .video-page-corporate__video {
      border-radius: 10px;
      iframe {
        border-radius: 10px;
      }
    }
  }
}

.video-header-wave {
  position: relative;
  z-index: 6;
}

.inside-title {
  position: absolute;
  z-index: 10;    
  top: 30%;
  left: 35%;

  @include respond-to('medium-down') {
    top: 30%;
    left: 16%;
  }

  h3 {
    text-align: center;
    font-size: 45px;
    line-height: 1.11;
    color: white;

    @include respond-to('medium-down') {
      font-size: 24px;
    }
  }
}

.watch-now-title {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 10;
  top: 15%;
  width: 206px;
  height: 50px;
  background-color: #ffb0b2;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  padding: 0px 20px;

  @include respond-to('medium-down') {
    width: 146.1px;
    height: 40px;
    padding: 0px 10px;
  }

  h3 {
    font-size: 19px;
    text-align: center;

    @include respond-to('medium-down') {
      font-size: 16px;
    }
  }
}

.under-title {
  margin-top: 28px;
  margin-bottom: 28px;
}

.under-rich-text p {
  max-width: 584px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: $body-text;
}
