/* # Breadcrumb
================================================== */

$breadcrumb-item-color: $link !default;
$breadcrumb-item-hover-color: $link-hover !default;
$breadcrumb-item-active-color: $link-hover !default;

$breadcrumb-item-padding-vertical: 0 !default;
$breadcrumb-item-padding-horizontal: 0.75em !default;

$breadcrumb-item-separator-color: $link !default;

.breadcrumb {

  @extend %unselectable;

  font-size: $size-normal;
  white-space: nowrap;

  a {
    @include align-items(center);
    color: $black;
    @include flexbox();
    @include justify-content(center);
    padding: 0;
    line-height: 1;

    &:hover {
      color: $breadcrumb-item-hover-color;
    }
  }

  li {
    @include align-items(center);
    @include flexbox();
    line-height: 1;
    white-space: normal;

    &:not(.tag):first-child span {
      padding-left: 0;
    }

    &.is-active {
      a {
        color: $breadcrumb-item-active-color;
        cursor: default;
        pointer-events: none;
      }
    }
  }

  ul,
  ol {
    @include align-items(center);
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(flex-start);

    @include respond-to('small-down') {
      @include justify-content(center);
    }
  }

  .icon {
    &:first-child {
      margin-right: 0.5em;
    }

    &:last-child {
      margin-left: 0.5em;
    }
  }

  // Alignment
  &.is-center {
    ol,
    ul {
      @include justify-content(center);
    }
  }

  &.is-right {
    ol,
    ul {
      @include justify-content(flex-end);
    }
  }

  // Sizes
  &.is-small {
    font-size: $size-small;
    .icon {
      height: $size-small;
      width: $size-small;
    }
  }

  &.is-regular {
    font-size: $size-normal;
    .icon {
      height: $size-normal;
      width: $size-normal;
    }
  }

  &.is-large {
    font-size: 1.2rem;
    .icon {
      height: 1.2rem;
      width: 1.2rem;
    }
  }

  .page-navigation-arrows a {
    display: inline;
  }
}

.page-navigation-arrows {
  @include flexbox();
  @include align-items(center);

  @include respond-to('small-down') {
    @include justify-content(center);
    text-align: center;
    width: 100%;
    padding-top: 0;
  }

  .page-navigation__divider {
    padding: 0 5px;
  }
}

.breadcrumb-separator {
  @include flexbox();
  @include align-items(flex-end);
}

.breadcrumb__container {
  @include respond-to('medium-down') {
    width: 85%;
    margin-left: auto!important;
    margin-right: auto!important;
  }

  @include respond-to('small-down') {
    @include flex-direction(column-reverse);
    @include flex-wrap(wrap);
    padding-bottom: 20px;
  }
}
