/* # Card
================================================== */

$card-color: $text !default;
$card-background-color: $background !default;
$card-shadow: 0 2px 3px rgba(black, 0.1), 0 0 0 1px rgba(black, 0.1) !default;

$card-header-background-color: transparent !default;
$card-header-shadow: 0 1px 2px rgba(black, 0.1) !default;
$card-header-weight: $weight-bold !default;

$card-content-background-color: transparent !default;

$card-footer-background-color: transparent !default;
$card-footer-border-top: 1px solid $border !default;

.card {
  background-color: $card-background-color;
  box-shadow: $card-shadow;
  color: $card-color;
  max-width: 100%;
  position: relative;
}

.card-header {
  background-color: $card-header-background-color;
  @include align-items(stretch);
  box-shadow: $card-header-shadow;
  @include flexbox();
  width: 100%;
}

.card-header-title {
  @include align-items(center);
  @include flexbox();
  @include flex-grow(1);
  font-weight: $card-header-weight;
  padding: 0.75rem;

  &.is-center {
    @include justify-content(center);
  }
}

.card-header-icon {
  @include align-items(center);
  cursor: pointer;
  @include flexbox();
  @include justify-content(center);
  padding: 0.75rem;
}

.card-image {
  display: block;
  position: relative;
}

.card-content {
  background-color: $card-content-background-color;
  padding: 1.5rem;
}

.card-footer {
  background-color: $card-footer-background-color;
  border-top: $card-footer-border-top;
  @include align-items(stretch);
  @include flexbox();
}

.card-footer-item {
  @include align-items(center);
  @include flexbox();
  @include flex-basis(0);
  @include flex-grow(1);
  @include flex-shrink(0);
  @include justify-content(center);
  padding: 0.75rem;

  &:not(:last-child) {
    border-right: $card-footer-border-top;
  }
}

