/* # Tile
================================================== */

.tile {
  @include flexbox();
  @include align-items(stretch);
  display: block;
  @include flex-basis(0);
  @include flex-grow(1);
  @include flex-shrink(1);
  min-height: min-content;
  overflow: hidden;

  // Images
  .tile-image {
    display: block;
  }

  // Modifiers
  &.is-ancestor {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;

    &:last-child {
      margin-bottom: -0.75rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }

  &.is-child {
    margin: 0 !important;
  }

  &.is-parent {
    padding: 0.75rem;
  }

  &.is-vertical {
    flex-direction: column;

    & > .tile.is-child:not(:last-child) {
      margin-bottom: 1.5rem !important;
    }
  }

  // Responsiveness
  @include respond-to('small-up') {
    &:not(.is-child) {
      @include flexbox();
    }

    @for $i from 1 through 12 {
      &.is-#{$i} {
        flex: none;
        width: $i / 12 * 100%;
      }
    }
  }
}

