/* # Accounts
================================================== */

.register__image img,
.login__image img {
  width: 100%;
}

.register__form img,
.login__form img {
  max-width: 200px;
  margin: 0;
}

.or {
  margin-left: 10px;
}

// Recover

.login__recover {
  display: none;
}

.recover-note {
  margin: 0.75rem 0;
}

.action_bottom .button,
.recover-options .button {
  margin-right: 5px;
}

.login-page {
  .has-padding {
    padding: 14px 33px 14px 91px;
    @include respond-to('medium-down') {
      padding: $gutter;
    }
  }
  .heading-divider {
    display: none;
  }
  .heading-wrapper {
    margin: 0;

    .title {
      margin-bottom: 10px;
    }
  }
  .button {
    max-width: 135px;
    width: 100%;
    min-width: 135px;
  }

  .button--submit {
      background-color: $purpley-grey !important;
      color: $white !important;
      &:hover {
        color: $black !important;
        background-color: $soft-pink !important;
      }
  }
  .reset__image__element {
    display: none;
  }
}

.register {
  padding-left: 47px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  @include respond-to('medium-down') {
    padding: $gutter;
  }
}
#create-customer {
  .input {
    max-width: 172px;
    max-height: 40px;
  }
  .field {
    max-width: 172px;
  }

}


.cookies-bgr {
  position: absolute;
  max-width: 210px;
  display: block;
  
  &.right {
    right: 0;
  }
  &.left {
    left: 0;
    transform: scale(-1,1);
  }
}