/* # Cart
================================================== */

$sale-color: {{ settings.sale_color }};
$subtotal-bg-color: #F2F2F2;

//Enabled quantity box
.quantity-box-enabled-true {
  .cart__product-title {
    width: 40%;
  }
  .cart__subscription-title {
    width: 30%;
  }
  .cart__quantity-title {
    width: 10%;
  }
  .cart__total-title  {
    width: 20%;
  }

  .cart__description {
    width: 25%;
    padding: 0 20px;
    @include respond-to($medium-down) {
      width: 100%;
      padding: 0;
      text-align: left;
      order: -2;
    }
  } 
  
  .cart__frequency {
    width: 30%;
  }
}
.cart__remove-btn {
  color: #f7ba17;
}

.cart__frequency .type, .cart__quantity .product-meal{
  height: 28px;
  color: #a57096;
  text-align: center;
}

.cart__frequency {
  p {
    padding-left: 5px;
  }

  .value{
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 10px;
    border: solid 2px #c4e6ff;
    background-color: #f1f9ff;
    padding: 11px 16px;
    
    @include respond-to($medium-down) {
      margin-right: 5px;
      padding: 0px;
    }
  }

  @include respond-to($medium-down) {
    display: none;
  }
}

.cart__frequency.cart__frequency-mobile {
  display: none;
  @include respond-to($medium-down) {
    display: block;
    width: 60%;
  }
}


//Disabled quantity box
.quantity-box-enabled-false {

  .cart__product-title {
    width: 66%;
  }

  .cart__description {
    width: 60%;
    @include respond-to('small-down') {
      width: 100%;
    }
  }
}

// Table headings

.cart__headings {
  @include flexbox();
  @include justify-content(space-between);
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid;

  @include respond-to('large-down') {
    display: none;
  }

  p {
    font-size: 16px;
    font-weight: 600;
  }
}

.cart__price-title,
.cart__quantity-title {
  text-align: center;
}

.cart__total-title {
  text-align: right;
}
// Cart items

.cart__card {
  @include flexbox();
  @include align-items(center);
  margin-bottom: 30px;

  @include respond-to('medium-down') {
    @include align-items(flex-start);
  }
}

.item__title {
  a {
    color: $body-text;
  }
}

.item__properties {

  @include respond-to($medium-down) {
    padding-top: 0px;
    font-size: 0.7em;
  }
}

.cart__info {
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
  width: 85%;

  @include respond-to($medium-down) {
    @include flex-direction(column);
    width: 70%;
    padding-left: 20px;
  }
}

.icons {

}

.cart__total,
.cart__price {
  @include flex-direction(row);
  text-align: center;

  span {
    display: block;
  }
}

.cart__total {
  p {
    margin-left: auto;
  }
  .money {
    padding-left: 5px;
    font-size: 19px;
    @include respond-to($medium-down) {
      padding-left: 0px;
      font-size: 16px;
    }
  }
  @include respond-to($medium-down) {
    order: -2;
    p {
      margin-left: unset;
    }
  }
}



.cart__description, .cart__total {
  font-weight: bold;
}

.cart__total,
.cart__quantity,
.cart__price {
  width: 20%;
  @include respond-to($medium-down) {
    width: 100%;
    text-align: left;
  }
}

.cart__price .sale,
.cart__price .original-price {
  @include respond-to('medium-down') {
    display: inline-block;
  }
}

.cart__quantity {
  @include flexbox();
  @include flex-wrap(wrap);
  position: relative;

  .purchase-details__quantity.product-quantity-box {
    margin-right: 0;
    width: 100%;
    margin-top: 0;
  }

  .quantity-wrapper.quantity-style--box .quantity-input-control--fill {
    width: auto;
  }

  .quantity-input {
    background-color: $product-list-color;
    @include respond-to('large-up') {
      width: 50px;
    }
  }

  @include respond-to('large-up') {
    @include justify-content(center);
  }

  @include respond-to($medium-down) {
    margin-top: $gutter/2;
    
    .cart__quantity-title {
      display: none;
    }
    .purchase-details__quantity.product-quantity-box {
      width: 40%;
      margin-top: 0;
    }
  }

  @include respond-to('small-down') {

    .quantity-style--stacked .quantity-input {
      width: 65px;
    }
  }

  .quantity-style--box {
    .quantity-minus {
      border-left: $input-border-width solid $text;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .quantity-plus {
      border-right: $input-border-width solid $text;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .quantity-plus, .quantity-minus, input {
      border-color: #c4e6ff !important;
    }

    .icon {
      fill: $text;
    }

    &.is-medium {
      .quantity-element {
          padding: 0;
          min-height: auto;
          min-width: 38px;
          height: 40px;
          border-color: transparent;
          background-color: #f1f9ff;

          @include respond-to('medium-down') {
            min-width: 30px;
          }
      }
  
      .quantity-plus,
      .quantity-minus {
        width: 26px;
      }

    }

    .product-quantity-box.purchase-details__quantity {
      width: calc(50% - 12px);
      max-width: 90px;
    }

    @include respond-to('medium-down') {
      max-width: 100%;
    }
  }

  .cart__remove {
    width: 100%;
    display: none;
  }

  .cart__total-hide {
    display: none;
    position: absolute;
    top: 5%;
    right: 0%;
    width: auto;
  }


  .cart__quantity-content {
    @include respond-to($medium-down) {
      width: 40%;
    }
  }
}

.cart__quantity-warning {
  width: 100%;
  text-align: center;
}

.cart__remove {
  @include respond-to('medium-down') {
    position: static;
    margin-left: 0px;
  }
}

// Line item discounts
.original-price {
  opacity: 0.2;
}

.line-item-discount__container {
  color: $sale-color;
  background: rgba(199, 0, 0, 0.1);
  border-radius: 3px;
  font-size: 0.8em;
  padding: 10px;
  margin: 5px 0;
}

// Total pricing

.cart-special-instruction-container {
  p {
    color: black;
    padding: 10px 0;
    font-weight: bold;
  }

  .control textarea {
    height: 112px;
    border-radius: 10px;
    border-color: #a57096;
  }

  @include respond-to('medium-down') {
    margin: auto;
  }
}

.cart-checkout-totalprice-container {
  margin-left: auto;

  @include respond-to('medium-down') {
    margin: auto;
    order:-1;
  }
}

.cart__subtotal-container {
  .is-flex {
    margin-left: auto;
  }

  @include respond-to('medium-down') {
    border-top: 2px solid;
    padding-top: 10px;
    display: block;
  }
}

.cart__cost-summary {

  @include respond-to('medium-down') {
    padding: 20px 15px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    @include align-items(center);

    .offset-by-eight {
      left: 0;
    }
  }
 
  .cart__discount-title {
    @include respond-to('medium-down') {
      max-width: 75%;
    }
  }

  .cart__discounts p,
  .cart__total-savings p {
    color: $sale-color;
  }

  .cart__subtotal-container, .cart__shipping-container, .cart__carttotal-container {
    p, span {
      font-weight: bold;
    }
  }



  .cart__shipping-container {
    .cart__shipping {
      color: $red;
    }
  }

  .cart__carttotal-container {
    border-top: 2px solid $cart-border-color;
  }

  .cart__row {
    @include flexbox();
    @include justify-content(space-between);
    padding-top: 14px;
    text-align: right;

    &:first-child {
      padding-top: 0;
    }

    @include respond-to('medium-down') {
      text-align: left;
    }


  }
}

.cart__row-description {
  p {
    font-family: Montserrat;
    color: $body-text;
  }
  @include respond-to('medium-down') {
    width: 100%;
  }
}

.cart__subtotal {
  span {
    font-family: Montserrat;
    color: $body-text;
  }
}

.cart__savings {
  @include justify-content(flex-end);
  padding: 20px 0;
  text-align: right;

  @include respond-to($medium-down) {
    @include justify-content(center);
    font-size: 1.5em;
    padding: 20px 0 0;
  }
}

.cart__savings,
.sale {
  color: {{ settings.sale_color }};
}

.was-price {
  color: {{ settings.was_price_color }};
  font-size: 16px!important;
}

// Cart notes and messages

.cart__notes {
  width: 100%;
}

.cart__tos {
  padding-bottom: 20px;

  .tos_agree {
    margin-right: 5px;
  }
}

.cart__view-terms-container {
  display: inline-block;
}

.cart__cart-message {
  margin: $gutter/2 0 0;
  font-size: 1.2rem;
}

// Checkout

.cart__checkout {
  min-width: 185px; /* Set a minimum width to match the width of additional checkout buttons. */

  .checkout {
    @include btn-add-to-cart;
    width: 100%;
    min-height: 42px; /* Set a minimum height to match the height of additional checkout buttons */
    @include respond-to($medium-down) {
      min-height: 52px;
      margin-bottom: 15px;
    }
    text-transform: uppercase;
    border-radius: 23px;
    color: white!important;
    background-color: #a57096!important;
  }

  @include respond-to($medium-down) {
    min-width: 168px;
    width: 100%;
    margin-left: 0;
  }
}

.cart__checkout-elements {
  @include justify-content(flex-end);

  @include respond-to($medium-down) {
    @include justify-content(center);
  }
}

.cart__buttons {
  @include respond-to($medium-down) {
    @include flex-direction(column-reverse);
    @include flex-wrap(wrap);
  }
}

.shiping_taxes_contents {
  margin-bottom: auto;
  text-align: right;
  padding: 0 25px;
}
// Additional checkout buttons

.additional-checkout-buttons {
  width: 100%;
  margin-top: 10px;
}

[data-shopify-buttoncontainer] {
  @include justify-content(flex-end);
}

// Shipping calculator

.shipping-calculator {

  select,
  .select {
    width: 100%;
  }

  @include respond-to($medium-down) {
    @include flex-direction(column);

    .control {
      min-width: 100%;
      margin-bottom: 20px;
    }

    input {
      width: 100%;
    }

    .select,
    select,
    input {
      @include respond-to('medium-down') {
        height: 3.25em;
      }
    }
  }
}

.cart__shipping-calculator {
  margin-top: 50px;
  padding-bottom: 20px;
  width: 100%;

  @include respond-to('medium-down') {
    text-align: center;
  }

  .cart__shipping-calculator-form {
    @include respond-to('medium-down') {
      text-align: left;
    }

    .select {
      @include respond-to('medium-down') {
        width: 100%;
      }
    }
  }

  .cart__shipping-title {
    padding-bottom: 50px;

    @include respond-to('medium-down') {
      text-align: center;
    }
  }

  label {
    padding-bottom: 20px;
    text-transform: uppercase;
    opacity: 0.5;

    @include respond-to('medium-down') {
      padding-bottom: 10px;
    }
  }

  .calc-field {
    margin-left: 0;
    margin-right: 20px;
    @include flexbox();
    @include flex-direction(column);

    @include respond-to('medium-down') {
      margin-right: 0;
      width: 100%;
    }
  }
}

#get-rates-container {
  @include respond-to('medium-down') {
    width: 100%;
  }
}

.get-rates {

  @include respond-to($medium-down) {
    margin-top: 10px;
    @include flex(1);
  }
}

.shipping-calculator__response-container {
  display: none;
}

.heading-wrapper--shipping-rates {
  margin-left: 0;
  margin-right: 0;

  @include respond-to('medium-down') {
    @include align-items(center);
  }
}

.shipping-rates__title {
  padding-top: 45px;

  @include respond-to('medium-down') {
    padding-top: 25px;
  }
}

.shipping-calculator__response {

  ul > li {
    padding-bottom: 20px;
    @include flexbox();
    @include align-items(center);

    @include respond-to('medium-down') {
      @include justify-content(center);
    }

    &:last-child {
      padding-bottom: 0;
    }

    .icon {
      margin-right: 10px;
    }
  }

  .shipping-calculator__message {
    padding-bottom: 20px;
  }
}

.shipping_calculator__response--visible {
  display: block;
}

.cart__price .discount-area span {
  display: inline;
}

.cart-section {
  .cart__blocks{
    @include respond-to('medium-down') {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.cart__featured-links {
  text-align: center;

  a {
    color: $body-text;
  }
}

.special-instructions {
  textarea {
    width: 100%;
    height: 112px;
    border-radius: 10px;
  }  
}

.cart__form {
  .container.icons {
    padding: 15px 10%;
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    
    .one-third {
      margin: auto;
      padding: 5px 0;
    }

    @include respond-to($medium-down) {
      padding: 15px;
      display: none;
      margin: unset;
    }
  }

  .container.icons.mobile {
    display: none;
    @include respond-to($medium-down) {
      display: block;
    }
  }

  .cart__image {
    width: 15%;
    @include respond-to($medium-down) {
      width: 30%;
    }

    .image-element__wrap {
      width:auto!important;
      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
      }
    }
  }
}

.cart__item-list {
  margin-top:40px;
}