/* # Collection
================================================== */

.collection-page {
  .section__wrapper{
    @include respond-to('medium-down') {
      padding: 0;
    }
  }

  .product__thumbnail {
    margin-bottom: 40px;
    .product-wrap {
      background: #FFF;
      height: 100%;
      display: flex;
      flex-direction: column;
      .show_now_btn {
        margin-top: 15px;
        margin-bottom: 8px;
        a {
          background: #4899d4;
          border-radius: 5px;
          color: #FFF;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: auto;
          margin-right: auto;
          width: 125px;
          height: 30px;
        }
      }
      .thumbnail__caption {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        .product-thumbnail {
          flex: 1;
          
          a {
            color: #000 !important;
          }
        }
      }
    }
  }

  .product-thumbnail {
    padding: $gutter/2 0;
    line-height: 1.2;
  
    .product-thumbnail__title {
      color: $sale-color;
      font-weight: 900;
      line-height: 1.41;
      font-size: 17px;
  
      @include respond-to('medium-down') {
        font-size: 1rem;
        line-height: 1;
      }
    }
  }

  .product-review__wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 40px;

    @include respond-to('medium-down') {
      padding-top: 5px;
      padding-bottom: 5px;
      min-height: 30px;
    }

    .standalone-bottomline {
      .yotpo-icon.yotpo-icon-star.rating-star.pull-left {
        float: none !important; 

        @include respond-to('medium-down') {
          font-size: 12px;
        }
      }

      .yotpo-bottomline.pull-left{
        display: block;
        text-align: center;
        float: none;
  
        .text-m {
          font-family: "Montserrat";
          font-size: 14px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal !important;
          line-height: 1.43;
          letter-spacing: normal;
          text-align: left;
          color: #0a0a0a !important;
          margin-left: 5px;

          @include respond-to('medium-down') {
            padding-left: 2px;
            font-size: 12px;
          }
        }
      }
    }
  }

  .yotpo .pull-left {
    float: none !important; 
  }
}


.collection__filters {
  margin-bottom: 20px;

  .select {
    max-width: 50%;

    @include respond-to('small-down') {
      max-width: 100%;
    }
  }

  .select:first-child {

    @include respond-to('small-down') {
      margin-bottom: 10px;
    }
  }

  .select,
  select {

    @include respond-to('small-down') {
      width: 100%;
    }
  }

  .is-grouped {
    @include justify-content(flex-end);

    @include respond-to('medium-down') {
      @include justify-content(flex-start);
    }
  }
}

.collection-main {
  .image-element__wrap img {
    width: 352px;

    @include respond-to('medium-down') {
    }
  }
  .banner__text {
    margin: 0;
  }

  .banner__content {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
  }
}


.collection__sort-by-filter {
  @include respond-to('medium-down') {
    margin-left: 10px;
  }
}

.sub-collection-main main {
  min-height: 0;
}

.collection-menu {
  padding-left: $gutter;
  padding-right: $gutter;
}

.jsCollectionMenu {
  .column {
    .icon {
      width: 36px;
      height: 41px;
    }
  }
  .collection-menu__nav{
    z-index: 1;
    @include respond-to('medium-down') {
      display: block!important;
    }
    .collection-menu__nav--prev{
      position: absolute;
      top: 15px;
      left: 0%;
    }
    .collection-menu__nav--next{
      position: absolute;
      top: 15px;
      right: 0%;
    }
  }

  .flickity-slider {
    & > .column {
      width: 33.33333%;
      @include respond-to('medium-down') {
        width: 50%;
      }
    }
  }

  .icon-bar__text{
    font-size: 1.1rem;

    @include respond-to('medium-down') {
      font-size: 0.85rem;
    }
  }

  .icon-bar__block {
    padding: 7px 10px;
    width: 60%;
    margin: auto;

    @include respond-to('medium-down') {
      padding: 4px;
      width: 100%;
    }
  }

  section {
    padding: 14px 0;
  }
}

[data-collection-title] {
  color: #000;
  font-size: 34px;
  font-weight: 900;
  margin-top: 25px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}

#template-collection {

  @media (max-width: 990px) {
    .collection__main.section {
      width: 100%;
    }
  }

  .section__wrapper {
    padding-top: 0px;
  }
  #shopify-section-collection__main {
    padding-top: 75px;
    padding-bottom: 150px;
    position: relative;
    @media (max-width: 990px) {
      padding-bottom: 75px;
    }
    [data-bg-svg] {
      background-color: #f6f2ed;
      position: absolute;
      width: 100%;
      height: calc(100% - 200px);
      top: 0px;
      z-index: -1;
      svg {
        bottom: -200px;
        position: absolute;
        width: 100%;
        height: auto;
      }
    }
  }
}

.container--pagination {
  margin-top: 75px;
  margin-bottom: 75px;
  width: 100%;
}

.collectionTabHeaderWrapper.container {
  max-width: 1008px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 990px) {
    overflow: auto;
  }
  .d-flex {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 100%;
    @media (max-width: 990px) {
      justify-content: flex-start
    }
  }
  .collectionTabHeader {
    // background: #FFF;
    margin: 0 12px;
    position: relative;
    @media (max-width: 990px) {
      margin: 0 8px;
      padding-top: 20px
    }
    .collection_tab_header_title {
      background: #FFF;
      border: 1px solid #000;
      border-radius: 5px;
      color: #000;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 160px;
      height: 40px;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      @media (max-width: 990px) {
        font-size: 12px;
        width: 140px;
        height: 35px;
      }
      &:hover {
        border: 2px solid #4495ea;
        border-bottom-width: 5px;
        padding-top: 3px;
      }
    }
    .collection_tab_header_badge {
      color: #4495ea;
      font-size: 14px;
      font-weight: 900;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-100%);
      @media (max-width: 990px) {
        font-size: 12px;
        margin-top: -3px;
      }
    }
    &.active {
      .collection_tab_header_title {
        border: 2px solid #4495ea;
        border-bottom-width: 5px;
        padding-top: 3px;
      } 
      .icon {
        display: block !important;
      }
      .collection_tab_header_badge {
        display: none !important;
      }
    }
    .icon {
      display: none;
      position: absolute;
      left: 50%;
      transform: translateX(calc(-50% - 2px)) translateY(-100%);
      svg {
        transform: rotate(90deg);
        path {
          fill: #f7ba17;
        }
      }
    }
  }
}
.collectionTabContenetWrapper.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1008px;
  width: 95%;
  .collectionTabContent {
    display: none;
    &.active {
      display: block;
    }
  }
}