/* # Collection
================================================== */

.collection-page {
  .section__wrapper{
    @include respond-to('medium-down') {
      padding: 0;
    }
  }

  .product-thumbnail {
    padding: $gutter/2 0;
    line-height: 1.2;
  
    .product-thumbnail__title {
      color: $sale-color;
      font-weight: 900;
      line-height: 1.52;
      font-size: 1.3125rem;
  
      @include respond-to('medium-down') {
        font-size: 1rem;
        line-height: 1;
      }
    }
  }

  .product-review__wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 50px;

    @include respond-to('medium-down') {
      padding-top: 5px;
      padding-bottom: 5px;
      min-height: 30px;
    }

    .standalone-bottomline {
      .yotpo-icon.yotpo-icon-star.rating-star.pull-left {
        float: none;

        @include respond-to('medium-down') {
          font-size: 12px;
        }
      }

      .yotpo-bottomline.pull-left{
        display: block;
        text-align: center;
        float: none;
  
        .text-m {
          font-family: Montserrat;
          font-size: 19px;
          font-weight: 600;
          padding-left: 10px;
          color: black!important;

          @include respond-to('medium-down') {
            padding-left: 2px;
            font-size: 12px;
          }
        }
      }
    }
  }
}


.collection__filters {
  margin-bottom: 20px;

  .select {
    max-width: 50%;

    @include respond-to('small-down') {
      max-width: 100%;
    }
  }

  .select:first-child {

    @include respond-to('small-down') {
      margin-bottom: 10px;
    }
  }

  .select,
  select {

    @include respond-to('small-down') {
      width: 100%;
    }
  }

  .is-grouped {
    @include justify-content(flex-end);

    @include respond-to('medium-down') {
      @include justify-content(flex-start);
    }
  }
}

.collection-main {
  .image-element__wrap img {
    width: 352px;

    @include respond-to('medium-down') {
    }
  }
  .banner__text {
    margin: 0;
  }

  .banner__content {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
  }
}


.collection__sort-by-filter {
  @include respond-to('medium-down') {
    margin-left: 10px;
  }
}

.sub-collection-main main {
  min-height: 0;
}

.collection-menu {
  padding-left: $gutter;
  padding-right: $gutter;
}

.jsCollectionMenu {
  .column {
    .icon {
      width: 36px;
      height: 41px;
    }
  }
  .collection-menu__nav{
    z-index: 1;
    @include respond-to('medium-down') {
      display: block!important;
    }
    .collection-menu__nav--prev{
      position: absolute;
      top: 15px;
      left: 0%;
    }
    .collection-menu__nav--next{
      position: absolute;
      top: 15px;
      right: 0%;
    }
  }

  .flickity-slider {
    & > .column {
      width: 33.33333%;
      @include respond-to('medium-down') {
        width: 50%;
      }
    }
  }

  .icon-bar__text{
    font-size: 1.1rem;

    @include respond-to('medium-down') {
      font-size: 0.85rem;
    }
  }

  .icon-bar__block {
    padding: 7px 10px;
    width: 60%;
    margin: auto;

    @include respond-to('medium-down') {
      padding: 4px;
      width: 100%;
    }
  }

  section {
    padding: 14px 0;
  }
}

