/* #FAQ
================================================== */

.page-faq__column-wrap {
  width: 100%;
  max-width: 850px;
}

.faq-contents {

  .groups {
    width: 48%;
    margin: 0 1% 20px 1%;

    @include respond-to('medium-down') {
      width: 98%;
      margin: 0 1% 10px 1%;
    }
  }
}

.product-faq-container2 {

  @include respond-to('medium-down') {
    width: 100%!important;
    margin: 0!important;
  }
}

.column-wrapper {

  .faq:first-of-type {
    @include respond-to('medium-down') {
      margin-bottom: 20px;
    }
  }

  .faq-accordion {
    width: 100%;

    .faq-icon {
      .icon {
        width: 82px;
        height: 52px;
      }
    }
    .image-element__wrap {
      padding: 0;
      &:first-child {
        margin-bottom: 20px;
      }
    }

    .more-links {
      padding-top: 46px;
    }
  }

  .faq-title {
    margin-bottom: $gutter*2.5;
    font-size: 1.8rem;

    @include respond-to('medium-down') {
      font-size: 24px;
    }
  }

  .faq-title:not(:first-child) {
    margin-top: $gutter;
  }

}

.accordion dt,
.faq-accordion dt {
  border: 1px solid #8f9cb2;
  position: relative;
  padding: 15px;
  background-color: white;

  a,
  button {
    background: none;
    border: 0;
    color: {{ settings.regular_color }};
    cursor: pointer;
    display: block;
    font-size: 1rem;
    text-align: left;
    width: 100%;
    font-weight: 600;
    outline: 0;
    transition: background-color 0.2s linear;

    @include respond-to('medium-down') {
      font-size: 1rem;
    }
  }

  .accordion [aria-expanded="true"] small,
  .accordion-style--carets[aria-expanded="true"] .icon {
    transform: translateY(-60%) rotate(180deg);
  }

  small,
  .icon {
    position: absolute;
    right: 10px;
    top: 25px;
    transform: translateY(-50%);
    transition: transform 0.2s linear;
    width: 0.7rem;
  }

  .accordion-style--plus_and_minus .icon {
    display: none;

    &.icon--active {
      display: block;
    }
  }
}

.accordion .dd,
.faq-accordion .dd {
  display: none;
  padding-top: 15px;
  padding-left: 5px;
}

.faq-page_link a {
  text-decoration: underline;
}
// Content creator accordion

.accordion dt:first-of-type {

  small,
  [aria-expanded="true"] small {
    transform: translateY(-60%) rotate(270deg);
  }

  [aria-expanded="false"] small {
    transform: translateY(-60%) rotate(360deg);
  }
}

.accordion .dd {
  margin-left: 0;
  display: none;
}

.accordion dt a small.right {
  font-family: "Arial"; /* Force font family to ensure accordion carets are displayed on iOS devices */
}

.accordion .dd:first-of-type {
  display: block;
}

.accordion [aria-expanded="false"] small {
  transform: translateY(-60%) rotate(180deg);
}

.accordion [aria-expanded="true"] small {
  transform: translateY(-60%) rotate(270deg);
}


.faq-page {
  h1 {
    @include respond-to('medium-down') {
      font-size: 24px;
    }
  }
  .page-faq__column-wrap {
    width: 100%;
    max-width: 100%;
  }
  .tabs {
    position: relative;
  }
  .tabbed-container {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    height: 1px;
    overflow: hidden;
    margin: 0;
  }
  .tabbed-container.tabbed-container-active {
    position: relative;
    z-index: 2;
    opacity: 1;
    height: auto;
  }
  .tabbed-nav {
    @include respond-to('medium-down') {
      width: 100%;
    }

    ul {
      columns: 2;
      column-gap: 20px;

      li {
        a {
          font-weight: normal !important;
          color: #a79580;

          &.nav-active {
            color: $body-text;
            font-weight: normal;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .faq-contents {

    .groups {
      width: 48%;
      margin: 0 1% 20px 1%;
      width: 98%;
      margin: 0 1% 20px 1%;
  
      @include respond-to('medium-down') {
        width: 98%;
        margin: 0 1% 10px 1%;
      }
    }
  }

  ul.flex-change-2 {
    li.flex-1 {
      margin-bottom: 23px;
      a {
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #a79580;

        &.nav-active {
          color: $body-text;
        }
      }
    }
  }

  .banner__heading {
    @include respond-to('medium-down') {
      font-size: 24px;
      color: $black;
    }
  }
  .banner__text.text-align-center {
    padding: 10px;
  }
  .rich-text__heading {
    @include respond-to('medium-down') {
      font-size: 24px !important;
    }
  }

  .rich-text__text .image-element__wrap {
    max-width: 91px !important;
  }
  .rich-text__text p {
    max-width: 427px !important;
    @include respond-to('medium-down') {
      font-size: 14px !important;
    }
  }
  .rich-text__content .buttons .button {
    max-width: 266px !important;
    @include respond-to('medium-down') {
      font-size: 14px !important;
      max-width: 197px !important;
    }
  }
}