/* #FAQ
================================================== */

.page-faq__column-wrap {
  width: 100%;
  max-width: 700px;
}

.product-faq-container2 {
  @include respond-to('medium-down') {
    width: 100%!important;
    margin: 0!important;
  }
}

.column-wrapper {

  .faq:first-of-type {
    @include respond-to('medium-down') {
      margin-bottom: 20px;
    }
  }

  .faq-accordion {
    width: 100%;

    .image-element__wrap {
      padding: 0;
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }

  .faq-title {
    margin-bottom: $gutter;
    font-size: 1.8rem;

    @include respond-to('medium-down') {
      font-size: 24px;
    }
  }

  .faq-title:not(:first-child) {
    margin-top: 40px;
  }

}

.accordion dt,
.faq-accordion dt {
  border-bottom: 1px solid $cart-border-color;
  position: relative;

  a,
  button {
    background: none;
    border: 0;
    color: {{ settings.regular_color }};
    cursor: pointer;
    display: block;
    font-size: 1rem;
    padding: $gutter/2 $gutter $gutter/2 0px;
    text-align: left;
    width: 100%;
    transition: background-color 0.2s linear;
    margin-top: $gutter/2;

    @include respond-to('medium-down') {
      font-size: 1rem;
    }
  }

  .accordion [aria-expanded="true"] small,
  .accordion-style--carets[aria-expanded="true"] .icon {
    transform: translateY(-60%) rotate(180deg);
  }

  small,
  .icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.2s linear;
    width: 1rem;
  }

  .accordion-style--plus_and_minus .icon {
    display: none;

    &.icon--active {
      display: block;
    }
  }
}

.accordion dt a[aria-expanded="true"],
.accordion dt a:hover,
.faq-accordion dt button[aria-expanded="true"],
.faq-accordion dt button:hover {
  background-color: {{ settings.heading_color | color_modify: 'alpha', 0.03 }};
}

.accordion dd,
.faq-accordion dd {
  display: none;
  padding: 10px;
}

// Content creator accordion

.accordion dt:first-of-type {

  small,
  [aria-expanded="true"] small {
    transform: translateY(-60%) rotate(270deg);
  }

  [aria-expanded="false"] small {
    transform: translateY(-60%) rotate(360deg);
  }
}

.accordion dd {
  margin-left: 0;
  display: none;
}

.accordion dt a small.right {
  font-family: "Arial"; /* Force font family to ensure accordion carets are displayed on iOS devices */
}

.accordion dd:first-of-type {
  display: block;
}

.accordion [aria-expanded="false"] small {
  transform: translateY(-60%) rotate(180deg);
}

.accordion [aria-expanded="true"] small {
  transform: translateY(-60%) rotate(270deg);
}
