/* # Password page
================================================== */

#shopify-section-password-template {
  height: 100%;
}

#password-page-background {
  height: 100%;
  position: fixed;
  width: 100%;
  overflow: auto;
}

.password-page__newsletter {
  margin-top: 50px;

  .newsletter__title,
  .newsletter__text {
    color: inherit !important; // Inherit color of parent
  }

  p {
    margin-bottom: 20px;
  }

  .newsletter-section {
    width: 100%;
  }

  .newsletter__wrapper {
    max-width: 100%;
  }
}

.password-page__social-media {

  li {
    margin-right: 10px;

    .icon {
      height: 2rem;
      width: 2rem;
    }
  }
}

.modal-container__password {

  #password {
    width: 100%;
  }
}

#password-container {
  height: 100%;
}

.password-page {

  @include respond-to('large-down') {
    min-width: 350px;
  }

  @include respond-to('medium-down') {
    min-width: 90%;
  }

  .password-page-message {
    font-size: 3em;
    @include respond-to('medium-down') {
      font-size: 2em;
    }
    line-height: 1.2;
    padding: 12px 0;
  }

  .password-logo {
    max-width: 200px;
    margin: 0 auto;
  }

  .password-title {
    @include logo-text-style();
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    background: {{ settings.shop_bg_color | color_modify: 'alpha', 0.95 }}
  }

  .overlay-close {
    width: 150px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: thin solid {{ settings.border_color }};
    font-size: 14px;
  }

  .overlay-data {
    opacity: 0;
    visibility: hidden;
  }

  .overlay-open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
}

.modal-close {
  background: 0 0;
  height: 40px;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 40px;
  &:before,
  &:after {
    background-color: {{ settings.regular_color }}
  }
}

.storefront-password-form {
  padding-bottom: 30px;
  overflow: auto;
  color: {{ settings.regular_color }};
}

.storefront-password-form input#password {
  padding: 10px;
  margin: 20px 0;
  width: 100%;
}

.storefront-password-form label {
  font-size: 0.9em;
  margin: 0 0 1em 0;
  text-align: center;
}

.storefront-password-form .actions {
  display: inline-block;
}

.storefront-password-form #password {
  width: 50%;

  @include respond-to('small-down') {
    width: 100%;
  }

  display: inline-block;
}

#owner {
  font-size: 0.9em;
  margin-top: -1em;
  opacity: 0.8;
  color: {{ settings.regular_color }};
}