{% comment %}
  Product page with moveable sections template
{% endcomment %}

<div id="template-{{ template | replace: '.', '-' | handle }}" class="shopify-section product-page">
    <section class="is-width-standard">

      <div class="container">
        {% section 'product__sidebar' %}
        {% section 'product-sections__main' %}
        {% section 'product__recommendations' %}
        {% section 'page-faq__column1' %}
      </div>

    </section>
  </div>
