/* # Product thumbnail
================================================== */

$product-hover-text: {{ settings.product_hover_text_color }};
$product-hover-bg: {{ settings.product_hover_bg_color | color_modify: 'alpha', 0.7 }};
$mobile-padding : 15px;

.product__header {
  padding-top: 50px;
  padding-bottom: 30px;

  .product-review__wrapper {
    min-height: $gutter*1.25;
    text-align: center;

    .stamped-badge{
      display: block!important;

      .stamped-badge-caption {
        font-size: 1.1rem;
        font-weight: 600;
        color: $black;
      }
    }
  }

  .product_name {
    font-size: 2.2rem;
    text-align: center;
    padding: 5px;
  }
}

.header-tag {
  text-align: center;
  font-size: 19px;
  font-weight: 600;
}

.product-image__wrapper { 
  position: relative;

  &:hover {

    .thumbnail-overlay__container {
      @include flexbox();

      .quick-shop__buttons,
      .quick-shop__info {
        @include flexbox();
      }

      @include respond-to('medium-down') {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

.thumbnail-overlay__container {
  @include justify-content(center);
  @include align-items(center);
  @include flex-wrap(nowrap);
  @include flex-direction(column);
  display: none;
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $product-hover-bg;
  color: $product-hover-text;
  z-index: 10;
 
  a,
  a:visited {
    color: $product-hover-text;
  }

  .spr-icon-star:before {
    color: $product-hover-text;
  }

  .product-thumbnail__title,
  .product-thumbnail__price {
    color: $product-hover-text;
  }

  .quick-shop__info,
  .quick-shop__buttons {
    @include flexbox();
    @include justify-content(center);
    display: none;
    width: 100%;
  }

  .quick-shop__info {
    @include align-items(center);
  }

  .quick-shop__buttons {
    @include align-items(flex-start);
    padding-top: 20px;
    position: relative;
  }

  .animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }

  .sold-out {
    color: $product-hover-text;
  }
}

.thumbnail__hover-overlay--true {

  .quick-shop__info {
    @include respond-to('medium-down') {
      display: none;
    }
  }

  .thumbnail__caption {
    display: none;

    @include respond-to('medium-down') {
      display: block;
    }
  }
}

.hidden-product-link {
  line-height: 0;
  font-size: 0;
  color: transparent;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
}

.has-thumbnail-sticker {
//  margin: 40px 0;

  @include respond-to('medium-down') {
    margin: 15px 0;
  }

  .image__container {
    position: relative;
  }

  .sticker-holder {
    @include flexbox();
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .sticker-position-right {
    @include justify-content(flex-end);
    text-align: right;
  }

  .sticker-position-bottom-left {
    @include align-items(flex-end);
  }

  .sticker-position-bottom-right {
    @include justify-content(flex-end);
    @include align-items(flex-end);
    text-align: right;
  }

  .spr-badge {
    @include flexbox();
    @include flex-direction(column);
    padding-top: 3px;
    padding-right: 3px;
    .spr-badge-starrating,
    .spr-badge-caption {
      text-align: $thumbnail-text-alignment;
    }
  }

  .thumbnail-overlay__container .spr-badge-starrating,
  .thumbnail-overlay__container .spr-badge-caption, {
    @include justify-content(center);
    text-align: center;
  }

  .spr-badge-starrating .spr-icon-star,
  .spr-badge-starrating .spr-icon-star-empty,
  .spr-badge-caption {
    font-size: 80%;
  }

  .spr-icon-star:before {
    color: #F8E71C;
  }

  .product-thumbnail__review-stars {
    background-color: $product-thumb-background-color;
    padding: 0 $gutter*1.5 $half-gutter/4 $half-gutter;
    @include align-items(center);

    .btn-pc {
      color: $black;
      font-size : 0.8rem;
      img {
        position: absolute;
        margin: 3px;
      }
    } 

    .btn-mobile {
      display: none;
      font-size: 0.7rem;
      color: $black;
      padding-left: $gutter;
      img {
        margin-left: -$gutter;
        position: absolute;
      }
    }
  }
  .thumbnail-sticker:nth-child(1n+4) {
    display: none;
  }
}


.thumbnail-sticker {
  @include flexbox();
  width: 100%;
  padding: 5px 10px 5px 4px;
  text-align: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin: 10px 0;

  .sticker-text {
    font-size: 1.2rem;
    font-family: Caveat;
    color: $white;
    font-weight: bold;

    @include respond-to('medium-down') {
      font-size: 1rem;
    }
  }

  &.sale-sticker {
    @include sale-sticker;
  }

  &.new-sticker {
    @include new-sticker;
  }

  &.best-seller-sticker {
    @include bestseller-sticker;
  }

  &.coming-soon-sticker {
    @include comingsoon-sticker;
  }

  &.staff-pick-sticker {
    @include staffpick-sticker;
  }

  &.pre-order-sticker {
    @include preorder-sticker;
  }

}

// Banner text

.sticker-text {
  font-size: 1rem;
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: $white;
  

  @include respond-to('large-down') {
    font-size: 0.8em;
  }
}

// Square banners

.sticker-holder.sticker-shape-square {
  @include flex-wrap(wrap);

  .sticker-text {
    width: 100%;
  }
}

.one-seventh .sticker-shape-square .sticker-holder__content,
.one-sixth .sticker-shape-square .sticker-holder__content,
.one-fifth .sticker-shape-square .sticker-holder__content,
.sticker-shape-square .sticker-holder__content {
  max-width: 50%;
  font-size: 12px;

  @include respond-to('small-down') {
    max-width: 60%;
  }
}

.one-fourth .sticker-shape-square .sticker-holder__content {
  max-width: 40%;
  font-size: 14px;

  @include respond-to('small-down') {
    max-width: 60%;
  }
}

.one-third .sticker-shape-square .sticker-holder__content {
  max-width: 33.3334%;
  font-size: 14px;

  @include respond-to('small-down') {
    max-width: 60%;
  }
}

.one-half .sticker-shape-square .sticker-holder__content {
  max-width: 25%;
  font-size: 16px;

  @include respond-to('small-down') {
    max-width: 60%;
  }
}

// Round banners

.sticker-shape-round.sticker-position-bottom-right .thumbnail-sticker,
.sticker-shape-round.sticker-position-right .thumbnail-sticker {
  float: right;
  margin-right: 5px;
  margin-left: 0;
}

.sticker-shape-round .thumbnail-sticker {
  border-radius: 50%;
  display: inline-block;
  width: calc(33.3333% - 5px);
  padding: calc(33.3333% - 5px) 0 0;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  position: relative;

  .sticker-text {
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 1.1;
    transform: translateX(-50%) translateY(-50%);
    word-wrap: break-word;
    font-size: 0.7em;

    @include respond-to('medium-down') {
      font-size: 1em;
    }
  }
}


.one-seventh .sticker-shape-round .sticker-holder__content,
.one-sixth .sticker-shape-round .sticker-holder__content,
.one-fifth .sticker-shape-round .sticker-holder__content,
.sticker-shape-round .sticker-holder__content {
  width: 75%;
  font-size: 12px;

  @include respond-to('large-down') {
    width: 80%;
  }

  @include respond-to('small-down') {
    width: 100%;
  }
}

.one-fourth .sticker-shape-round .sticker-holder__content {
  width: 60%;
  font-size: 14px;

  @include respond-to('large-down') {
    width: 80%;
  }

  @include respond-to('small-down') {
    width: 100%;
  }
}

.one-third .sticker-shape-round .sticker-holder__content,
.one-half .sticker-shape-round .sticker-holder__content {
  width: 50%;
  font-size: 18px;

  .thumbnail-sticker {
    margin: 5px;
    width: 100%;
    max-width: 60px;
    padding: 30px;
  }

  @include respond-to('large-down') {
    width: 80%;
  }

  @include respond-to('small-down') {
    width: 100%;
  }
}

.one-third .sticker-shape-round.sticker-position-bottom-right .thumbnail-sticker,
.one-half .sticker-shape-round.sticker-position-bottom-right .thumbnail-sticker {
  margin-right: 10px;
  margin-left: 0;

  @include respond-to('medium-down') {
    font-size: 0.8em;
  }

  @include respond-to('medium-down') {
    font-size: 0.6em;
  }
}

.one-half .sticker-shape-round .sticker-holder__content {

  @include respond-to('large-down') {
    width: 65%;
  }
}

.small-down--one-whole .sticker-shape-round .thumbnail-sticker {

  @include respond-to('small-down') {
    font-size: 0.9em;
    width: calc(22% - 10px);
    padding: calc(22% - 10px) 0 0;
  }
}

// Product page banners

.product__information {
}

.product_section .product__information .thumbnail-sticker:nth-child(1n+4) {
  display: none;
}

.mobile-price_button {
  flex-direction: row;
  align-items: center;

  .modal_price {
    margin: 0;
  }

  .purchase-details__buttons .button {
    height: auto;
    min-height: auto;
  }

  .quantity-wrapper .quantity-element {
    min-height: 43px;
  }
}

.has-product-sticker {

  .sticker-holder__content--product-center {
    @include flexbox();
    @include justify-content(center);
    margin: 0px auto;
    max-width: 30%;
    padding-top: 20px;
    font-size: 16px;

    @include respond-to('medium-down') {
      font-size: 13px;
    }

    .thumbnail-sticker {
      margin: 0 5px;
    }
  }

  // Round banners
  .sticker-shape-round {

    .sticker-holder__content--product {
      @include flexbox();
      @include flex-wrap(wrap);
      max-width: 45%;
      width: 100%;
      font-size: 14px;

      @include respond-to('medium-down') {
        max-width: 80%;
      }
    }

    .is-product-slideshow {
      max-width: 30%;
    }

    .sticker-holder__content--product-center {

      @include respond-to('medium-down') {
        max-width: 50%;
      }

      @include respond-to('small-down') {
        max-width: 80%;
      }
    }

    .thumbnail-sticker {
      width: calc(33.333% - 10px);
      padding: calc(33.3333% - 10px) 0 0;
      margin: 0 10px 0 0;
      display: inline-block;
      float: none;

      .sticker-text {
        font-size: 1em;
      }
    }
  }

  // Square banners
  .sticker-shape-square {

    .sticker-holder__content--product {
      @include flexbox();
      max-width: 75%;
      width: 100%;

      @include respond-to('medium-down') {
        max-width: 100%;
        font-size: 13px;
      }
    }

    .is-product-slideshow {
      max-width: 45%;
    }

    .sticker-holder__content--product-center {

      @include respond-to('medium-down') {
        max-width: 100%;
        font-size: 13px;
      }
    }

    .thumbnail-sticker {
      width: calc(33.333% - 10px);
      margin-right: 10px;
      display: inline-block;
      float: none;

      .sticker-text {
        font-size: 1em;
      }
    }
  }

  .sticker-holder {
    display: block;
    padding-bottom: 20px;
    font-size: 14px;
  }
}

.swap--true {

  img {
    transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease;
    opacity: 1;
    visibility: visible;
    height: auto;
  }

  .swap--visible {
    opacity: 0;
    visibility: hidden;
    height: 0;
  }
}

.product-form-container {
  .rc_block__type {
    border-radius: 10px;
  }
  .rc_block__type__onetime {

  }
  .rc_block__type__autodeliver  {
    margin-top: 10px;
  }
  .rc_label {
    font-size: 1.2rem;
    font-weight: bold;

    .icon {
      float: right;
      margin: 5px;
    }
  }
  .rc_price {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.26;
  }
}