/* # Product
================================================== */

//Reviews
.shopify-product-reviews-badge {
  height: 30px;
  display: block;
}

.reviews-visibility-false {
  display: none;
}

// Product gallery
.product__images {

  @include respond-to('medium-down') {
    margin-bottom: 40px;
  }
}

.product-gallery__main,
.product-gallery__thumbnails.is-slide-nav--true {
  opacity: 0;
  transition: ease-in-out 0.2s opacity;

  &.flickity-enabled,
  &.vertical-slider-enabled {
    opacity: 1;
  }
}

.product-gallery__image {
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.product-gallery__link {
  display: block;
}

.zoom-container {
  width: 100%;
  display: block;
}

// Product gallery thumbnails
.product-gallery__nav .gallery-cell,
.is-slide-nav--true .product-gallery__thumbnail {
  opacity: 0.3;

  &.is-nav-selected {
    opacity: 1;
  }
}

.product-thumbnail {
  padding: $gutter/2;
  line-height: 1.2;
}


.product-thumbnail__vendor,
.product-thumbnail__price {
  display: block;
}

.thumbnail__caption {
  background-color: $product-thumb-background-color;
}

.thumbnail-swatch {
  @include flexbox();
  padding: 3px 3px 0;

  &.is-justify-left {
    margin-left: -5px;
  }

  &.is-justify-right {
    margin-right: -5px;
  }

  .swatch {
    @include flexbox();
    box-sizing: border-box;
    border: 1px solid transparent;
    padding: 2px;
    margin: 0 3px;

    &:hover {
      border: 1px solid #000;
    }
  }

  .swatch__style--circle,
  .swatch__style--circle span,
  .swatch__style--circle img {
    border-radius: 50%
  }

  span {
    border: 1px solid {{ settings.border_color }};
    min-height: 20px;
    min-width: 20px;
    display: inline-block;

    img {
      max-width: 20px;
      max-height: 20px;
      display: block;
    }

    .swatch__image--empty {
      display: none;
    }
  }
}

// Bottom slider

.product-gallery__thumbnails--bottom-slider {
  margin-top: 20px;
  @include flexbox();
  @include justify-content(center);

  .flickity-button:disabled {
    display: none;
  }

  .product-gallery__thumbnail {
    margin-right: 20px;
    width: 20%;
    text-align: center;
  }
}

// Bottom grid
.product-gallery__thumbnails--bottom-thumbnails {
  margin-top: 20px;
  @include flexbox();
  @include justify-content(center);

  &.is-slide-nav--false .product-gallery__thumbnail {
    margin-bottom: 20px;
    line-height: 0;
  }
}

// Right
.product-gallery--right-thumbnails:not(.product-gallery--image-amount-1) {
  @include flexbox();

  .product-gallery__main {
    width: 85%;
    height: 100%;

    @include respond-to('medium-down') {
      width: 100%;
    }
  }

  .product-gallery__thumbnails {
    width: 15%;
    margin-left: 20px;
    max-height: 440px;

    @include respond-to('medium-down') {
      display: none;
    }
  }

  .product-gallery__thumbnail {
    width: 100%;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Left
.product-gallery--left-thumbnails:not(.product-gallery--image-amount-1) {
  @include flexbox();

  .product-gallery__main {
    width: 85%;
    height: 100%;
    @include order(2);
  }

  .product-gallery__thumbnails {
    width: 15%;
    margin-right: 20px;
    @include order(1);
  }

  .product-gallery__thumbnail {
    width: 100%;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

//Vertical slider

.product-gallery__thumbnails--right-thumbnails,
.product-gallery__thumbnails--left-thumbnails {
  width: 100%;
  margin: 10px;
  @include align-self(flex-start);

  &.is-slide-nav--true {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */

    &::-webkit-scrollbar { /* WebKit */
      width: 0;
      height: 0;
    }
  }

  .product-gallery__thumbnail {
    width: 100%;
    margin: 0;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      line-height: 0;
      color: transparent;
      display: block;
      text-align: center;
      content: counter(carousel-cell);
    }
  }
}

.product__collections-list,
.product__type-list,
.product__tags-list {
  padding-bottom: 5px;

  &.tags {
    margin-bottom: 0;

    .tag {
      margin-bottom: 1rem;
    }
  }

  .product__classification-title {
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }
}


// Product price
.savings {
  display: block;
}

.sold-out {
  color: {{ settings.regular_color | color_modify: 'alpha', 0.3 }};

}

/* # Product - image scroll
================================================== */

.product-template--image-scroll {

  .product-gallery__main {
    opacity: 1;

    &:after {
      content: 'flickity';
      display: none;
    }

    @include respond-to('medium-up') {
      &:after {
        content: '';
      }
    }
  }

  .product-gallery__image {
    margin-bottom: 20px;
    opacity: 1 !important; //override flickity fix
  }

  .product-gallery__thumbnails {
    @include respond-to('medium-up') {
      display: none;
    }
  }
}

/* # Product - Gallery
================================================== */

.product-gallery {

  &:hover .flickity-prev-next-button {
    opacity: 1;

    @include respond-to('medium-down') {
      display: none;
    }
  }

  .flickity-prev-next-button {
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .flickity-page-dots {
    display: none;
  }
}

// No Thumbnails

.product-gallery--no-thumbnails {

  .flickity-page-dots {
    @include respond-to('medium-down') {
      display: block;
    }
  }
}

.product-gallery__nav {

  .gallery-cell {
    width: calc(20% - 10px);
    margin: 0 5px;
  }
}


/* # Product - featured slideshow
================================================== */

.product-template--featured-slideshow {

  .product-gallery__main {
    height: 90vh;
  }

  .product-gallery__link,
  .image__container {
    height: 100%;
  }

  .product-gallery__image.is-selected {

    img {
      height: 100%;
      opacity: 1;
    }
  }

  .product-gallery__image {
    margin: 0 20px;
    width: 50%;
    height: 100%;

    img {
      transition: height 0.2s linear;
      opacity: 0.8;
      height: 50%;
      width: 100%;
      @include object-fit(contain);
    }

    .image__container {
      @include flexbox();
      @include align-items(center);
    }
  }

  .product__information {

    &.one-column-layout {
      max-width: calc(0.75 * #{$site-max-width});
      margin: 0 auto;
    }

    .description {
      &.bottom {
        padding-top: $gutter;
      }
    }
  }
}

//Fix for fade flicker
.product-gallery__main.is-fade {
  .flickity-slider .product-gallery__image {
    opacity: 0 !important;
    transition: opacity 1s ease !important;
    &.is-selected {
      opacity: 1 !important;
    }
  }
}

/* # Product - blocks
================================================== */

.block__related-products {
  width: 100%;
}

.block__product-reviews {
  min-width: 50%;
}

.dynamic-blocks--has-limit {

  .section {
    width: 100%;
  }

  .section.has-background {
    width: calc(100% - 20px);
  }
}

.section.product-info__block,
.section.product-gallery__block {
  @include flexbox();
  @include align-items(flex-start);
}

.block__product-gallery {
  @include respond-to('medium-down') {
    -webkit-box-ordinal-group: -1;
    -moz-box-ordinal-group: -1;
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
}
.block__product-gallery .product-gallery__container {
  width: 100%;
}

.product_section .has-product-sticker .sticker-holder__content {
  font-size: 16px;
}

/* # Related products
================================================== */

.related-products {

  .products-slider .gallery-cell {
    padding: 0 10px;

    @include respond-to('medium-down') {
      width: calc(50% - 20px);
    }
  }
}

// Avoids glitch when replacing section with block
.recommended-products-section {
  visibility: hidden !important;
}

.product-gallery__container {
  .modal_price.subtitle {
    font-size: 30px;
    position: absolute;
    z-index: 1;
    top: 31px;
    padding: 5px 10px;
    background-color: $sale-color;
    border-radius: 0 90px 90px 0;
  }
}

.product--section {
  width: 100%;
  @include respond-to('medium-down') {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}

.product-main {
  .product_name {
    @include respond-to('medium-down') {
      font-size: 24px;
    }
  }
  .description.content{
    h2 {
      @include respond-to('medium-down') {
        font-size: 24px;
      }
    }
  }
  .product__information {
    .money {
      font-weight: bold;
      @include respond-to('medium-down') {
        font-size: 16px;
      }
    }
  }
  .section {
    &.sticky-enabled {
      margin-top: 70px;
    }
  }
  .container {
    @include respond-to('medium-down') {
      .column,
      .columns {
        margin:0;
      }

      .medium-down--one-whole {
        width: 100%;
      }

      .one-whole {
        width: 100%;
      }
    }
  }

  .product__tab--bar {
    padding-top: 0;
    border-radius: 50px;
    box-shadow: 0 0 12px 0 rgba(46, 46, 46, 0.06);
    background-color: #ffffff;
    margin-top: 30px;

    &.sticky {
      position:fixed;
      top:0;
      margin: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9;
      margin-top: 80px;
    }

    .product__bar--bar-pc {
      .product-form-container {
        margin-right: 10px;
      }
      .product-quantity-box {
        &.purchase-details__quantity {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
      .purchase-details {
        min-width: 250px;
        .purchase-details__buttons {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
      .product__tab {
        border: 0;
        margin-bottom: 0;
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        -ms-flex-grow: 1;
        flex-grow: 1;
        min-height: 70px;
        li {
          display: flex;
          flex-direction: row;
          align-items: center;
          a {
            color: $black;
            border: 2px solid transparent;
            border-radius: 50px;
            margin: 0 25px;
            padding: 5px 15px;
            min-width: 107px;
            max-height: 40px;
            text-align: center;
          }
          &:hover , &.is-active {
            a {
              border: 2px solid $border;
            }
          }
        }
      }
    }

    .product__bar--bar-mobile {
      display:none;
      position: fixed;
      z-index: 2;

      li {
        text-align: center;
        a {
          color: $black;
        }

        .icon svg
        {
          width: 15px;
        }

        &.is-active {
          a{
            color: $red;
          }
        }
      }
    }
  }
}
