/* # Product
================================================== */

//Reviews
.shopify-product-reviews-badge {
  height: 30px;
  display: block;
}

.reviews-visibility-false {
  display: none;
}

// Product gallery
.product__images {

  @include respond-to('medium-down') {
    margin-bottom: 40px;
  }
}

.product-gallery__thumbnails .flickity-button {
  display: none;
}

.product-gallery__main,
.product-gallery__thumbnails.is-slide-nav--true {
  opacity: 0;
  transition: ease-in-out 0.2s opacity;

  &.flickity-enabled,
  &.vertical-slider-enabled {
    opacity: 1;
  }
}

.product-gallery__main {
  .flickity-prev-next-button {
    top: auto;
    bottom: 15px;
  }
  .flickity-button.flickity-prev-next-button.previous {
    left: auto;
    right: 55px;
  }
}

.product-gallery__image {
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.product-gallery__link {
  display: block;
}

.zoom-container {
  width: 100%;
  display: block;
}

// Product gallery thumbnails
.product-gallery__nav .gallery-cell,
.is-slide-nav--true .product-gallery__thumbnail {
  opacity: 0.3;

  &.is-nav-selected {
    opacity: 1;
  }
}
.product-thumbnail__vendor,
.product-thumbnail__price {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.26;

  small {
    text-transform: capitalize;
  }
  
  @include respond-to('medium-down') {
    font-size: 0.9rem;
  }
}

.thumbnail__caption {
  background-color: $product-thumb-background-color;
}

.thumbnail-swatch {
  @include flexbox();
  padding: 3px 3px 0;

  &.is-justify-left {
    margin-left: -5px;
  }

  &.is-justify-right {
    margin-right: -5px;
  }

  .swatch {
    @include flexbox();
    box-sizing: border-box;
    border: 1px solid transparent;
    padding: 2px;
    margin: 0 3px;

    &:hover {
      border: 1px solid #000;
    }
  }

  .swatch__style--circle,
  .swatch__style--circle span,
  .swatch__style--circle img {
    border-radius: 50%
  }

  span {
    border: 1px solid {{ settings.border_color }};
    min-height: 20px;
    min-width: 20px;
    display: inline-block;

    img {
      max-width: 20px;
      max-height: 20px;
      display: block;
    }

    .swatch__image--empty {
      display: none;
    }
  }
}

// Bottom slider

.product-gallery__thumbnails--bottom-slider {
  margin-top: 20px;
  @include flexbox();
  @include justify-content(center);

  .flickity-button:disabled {
    display: none;
  }

  .product-gallery__thumbnail {
    margin-right: 20px;
    width: 20%;
    text-align: center;
  }
}

// Bottom grid
.product-gallery__thumbnails--bottom-thumbnails {
  margin-top: 20px;
  @include flexbox();
  @include justify-content(center);

  &.is-slide-nav--false .product-gallery__thumbnail {
    margin-bottom: 20px;
    line-height: 0;
  }
}

// Right
.product-gallery--right-thumbnails:not(.product-gallery--image-amount-1) {
  @include flexbox();

  .product-gallery__main {
    width: 85%;
    height: 100%;

    @include respond-to('medium-down') {
      width: 100%;
    }
  }

  .product-gallery__thumbnails {
    width: 15%;
    margin-left: 20px;
    max-height: 440px;

    @include respond-to('medium-down') {
      display: none;
    }
  }

  .product-gallery__thumbnail {
    width: 100%;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Left
.product-gallery--left-thumbnails:not(.product-gallery--image-amount-1) {
  @include flexbox();

  .product-gallery__main {
    width: 85%;
    height: 100%;
    @include order(2);
  }

  .product-gallery__thumbnails {
    width: 15%;
    margin-right: 20px;
    @include order(1);
  }

  .product-gallery__thumbnail {
    width: 100%;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

//Vertical slider

.product-gallery__thumbnails--right-thumbnails,
.product-gallery__thumbnails--left-thumbnails {
  width: 100%;
  margin: 10px;
  @include align-self(flex-start);

  &.is-slide-nav--true {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */

    &::-webkit-scrollbar { /* WebKit */
      width: 0;
      height: 0;
    }
  }

  .product-gallery__thumbnail {
    width: 100%;
    margin: 0;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      line-height: 0;
      color: transparent;
      display: block;
      text-align: center;
      content: counter(carousel-cell);
    }
  }
}

.product__collections-list,
.product__type-list,
.product__tags-list {
  padding-bottom: 5px;

  &.tags {
    margin-bottom: 0;

    .tag {
      margin-bottom: 1rem;
    }
  }

  .product__classification-title {
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }
}


// Product price
.savings {
  display: block;
}

.sold-out {
  color: {{ settings.regular_color | color_modify: 'alpha', 0.3 }};

}

/* # Product - image scroll
================================================== */

.product-template--image-scroll {

  .product-gallery__main {
    opacity: 1;

    &:after {
      content: 'flickity';
      display: none;
    }

    @include respond-to('medium-up') {
      &:after {
        content: '';
      }
    }
  }

  .product-gallery__image {
    margin-bottom: 20px;
    opacity: 1 !important; //override flickity fix
  }

  .product-gallery__thumbnails {
    @include respond-to('medium-up') {
      display: none;
    }
  }
}

/* # Product - Gallery
================================================== */

.product-gallery {
  
  &:hover .flickity-prev-next-button {
    {% comment %}
    opacity: 1;

    @include respond-to('medium-down') {
      display: none;
    }
    {% endcomment %}
  }

  .flickity-prev-next-button {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }

  .flickity-page-dots {
    display: none;
  }
}

// No Thumbnails

.product-gallery--no-thumbnails {

  .flickity-page-dots {
    @include respond-to('medium-down') {
      display: block;
    }
  }
}

.product-gallery__nav {

  .gallery-cell {
    width: calc(20% - 10px);
    margin: 0 5px;
  }
}


/* # Product - featured slideshow
================================================== */

.product-template--featured-slideshow {

  .product-gallery__main {
    height: 90vh;
  }

  .product-gallery__link,
  .image__container {
    height: 100%;
  }

  .product-gallery__image.is-selected {

    img {
      height: 100%;
      opacity: 1;
    }
  }

  .product-gallery__image {
    margin: 0 20px;
    width: 50%;
    height: 100%;

    img {
      transition: height 0.2s linear;
      opacity: 0.8;
      height: 50%;
      width: 100%;
      @include object-fit(contain);
    }

    .image__container {
      @include flexbox();
      @include align-items(center);
    }
  }

  .product__information {

    &.one-column-layout {
      max-width: calc(0.75 * #{$site-max-width});
      margin: 0 auto;
    }

    .description {
      &.bottom {
        padding-top: $gutter;
      }
    }
  }
}

//Fix for fade flicker
.product-gallery__main.is-fade {
  .flickity-slider .product-gallery__image {
    opacity: 0 !important;
    transition: opacity 1s ease !important;
    &.is-selected {
      opacity: 1 !important;
    }
  }
}

/* # Product - blocks
================================================== */

.block__related-products {
  width: 100%;
}

.block__product-reviews {
  min-width: 50%;
}

.dynamic-blocks--has-limit {

  .section {
    width: 100%;
  }

  .section.has-background {
    width: calc(100% - 20px);
  }
}

.section.product-info__block,
.section.product-gallery__block {
  @include flexbox();
  @include align-items(flex-start);
}

.block__product-gallery {
  @include respond-to('medium-down') {
    -webkit-box-ordinal-group: -1;
    -moz-box-ordinal-group: -1;
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
}
.block__product-gallery .product-gallery__container {
  width: 100%;
}

.product_section .has-product-sticker .sticker-holder__content {
  font-size: 16px;
}

/* # Related products
================================================== */

.related-products {

  .products-slider .gallery-cell {
    padding: 0 10px;

    @include respond-to('medium-down') {
      width: calc(50% - 20px);
    }
  }
}

// Avoids glitch when replacing section with block
.recommended-products-section {
  visibility: hidden !important;
}

.product-gallery__container {
  .modal_price.subtitle {
    font-size: 30px;
    position: absolute;
    z-index: 1;
    top: 31px;
    padding: 5px 10px;
    background-color: $sale-color;
    border-radius: 0 90px 90px 0;
  }
}

.product--section {
  width: 100%;
  @include respond-to('medium-down') {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}

.product-main {

  .icon-with-text-column__column .icon {
    color: {{ settings.regular_color }};
  }

  .product_name {
    @include respond-to('medium-down') {
      font-size: 24px;
    }
  }
  .description.content{
    h2 {
      @include respond-to('medium-down') {
        font-size: 24px;
      }
    }
  }
  .product__information {
    .money {
      font-weight: bold;
      @include respond-to('medium-down') {
        font-size: 16px;
      }
    }
  }
  .section {
    &.sticky-enabled {
      margin-top: 70px;
    }
  }
  .container {
    @include respond-to('medium-down') {
      .medium-down--one-whole {
        width: 100%;
      }

      .one-whole {
        width: 100%;
      }
    }
  }

  .column-wrapper .faq-title {
    font-size: 2.2rem;
  }
}

#rc_container {
  .rc_label {
    @include respond-to('medium-down') {
      font-size: 1rem;
    }

    .rc_price {
      padding-right: 10px;

      @include respond-to('medium-down') {
        font-size: 1.2rem;
      }
    }
  }

  .rc_radio {
    width: 25px;
    height: 25px;

    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;

    padding: 6px;
    /* background-color only for content */
    background-clip: content-box;
    border: 2px solid #fadc8a;
    background-color: #ffffff;
    border-radius: 50%;
  }
  
  /* appearance for checked radiobutton */
  .rc_radio:checked {
    background-color: #f7ba17;
    border: 2px solid #f7ba17;
  }

  .swatch .swatch-element {
    @include respond-to('medium-down') {
      width: 48%;
      margin: 0px 2% 8px 0;
    }
  }
  .button {
    width: 200px;
    max-width: none;
    height: 45px;
    border-radius: 23px;

    @include respond-to('medium-down') {
      width: 100%;
    }
  }

  .freeshipping_txt{
    font-size: 12px;
    font-weight: 600;
    line-height: 2;
    text-align: center;
    color: #a57096;
    padding: 10px;
    white-space: normal;
  }
  .meal_txt {
    width: 120px;
    font-family: Caveat;
    font-size: 16px;
    font-weight: bold;
    line-height: 2.81;
    color: #4899d4;
    padding-left: 15px;

    @include respond-to('medium-down') {
      margin: auto;
      padding-left: 0;
      padding-top: 10px;
    }
  }

  .swatch {
    padding: 15px 10px 0px 10px;
  }

  .button-container {
    padding: 10px;
  }
}

.toggle-info {
  .accordion {
   cursor: pointer;
   padding: 15px 0 7px 0;
   width: 100%;
   border: none;
   text-align: left;
   outline: none;
   font-size: 15px;
   transition: 0.4s;
   display: flex;
   color: #4f2b01;
   background-color: transparent;
   border-bottom: 1px solid #4f2b01;
 }
  
 .accordion:after {
   content: "More +";
   float: right;
   margin-left: 5px;
   position: absolute;
   right: 20px;
 }
 
 .active:after {
   content: "Less -";
 }
 
 .panel {
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-out;

   .panel-padding {
    padding: 18px 0px;
   }
 }
}

.allergens_info {
  .icon-container {
    padding-right: 30px;

    .icon {
      height: 3rem;
      width: 3rem;
    }

    p{
      font-family: Caveat;
      font-weight: bold;
    }
  }  
}

.product__header {
  .product-review__wrapper {
    .standalone-bottomline {
      .yotpo-icon.yotpo-icon-star.rating-star.pull-left {
        float: none;
        font-size: 19px;

        @include respond-to('medium-down') {
          font-size: 12px;
        }
      }

      .yotpo-bottomline.pull-left{
        display: block;
        text-align: center;
        float: none;
  
        .text-m {
          font-family: Montserrat;
          font-size: 19px;
          font-weight: 600;
          padding-left: 10px;
          color: black!important;

          @include respond-to('medium-down') {
            padding-left: 2px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

#product__reviews-section {
  .title {
    font-family: 'Cooper Std';
    font-size: 35px;
    text-align: center;
    padding: 10px;
  }

  .subtitle{
    font-size: 14px;
    text-align: center;
  }

  .yotpo-display-wrapper {
    .yotpo-regular-box {
      .yotpo-icon.yotpo-icon-star.rating-star.pull-left {
        color: #163b66;
      }

      .yotpo-default-button.yotpo-icon-btn.pull-right.yotpo-hidden-mobile.write-button.write-review-button{
        background: #163b66;
      }
    }
  }
}

.medium-down--hide-cookie_bg {
  @include respond-to('medium-down') {
    background-image: none!important;
  }
}