/* # Badge
================================================== */
$badge-border-size: 0.1rem !default;
$badge-border-radius: 1rem !default;
$badge-color: {{ settings.header_cart_badge_color }};
$badge-size: 1rem;

.header-cart__icon {
  @include flexbox();
  @include justify-content(center);
  position: relative;
  width: max-content;
  margin: 0 auto;

  @include respond-to('medium-down') {
    padding-right: 21px;
  }
}

.badge {
  height: $badge-size;
  width: $badge-size;
  position: absolute;
  top: calc(#{$badge-size} * -0.3);
  right: -1.1rem;
  font-size: 0.7rem;
  background: $badge-color;
  color: $background;
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  border-radius: 50%;
  letter-spacing: 0;
  @include respond-to('medium-down') {
    top: -0.3rem;
    right: 0;
    font-size: 0.6rem;
  }
}
