/* # Image
================================================== */

/* Lazyloading styles */

{% if settings.image_loading_style == 'appear' %}

  .transition--appear {
    opacity: 0;
    //important is to override the fade-in transition on product img
    transition: opacity 0s !important, transform $transition-speed ease-in-out;
    &.lazyloaded {
      opacity: 1;
    }
  }

{% elsif settings.image_loading_style == 'fade-in' %}

  .transition--fade-in {
    opacity: 0;
    transition: opacity $transition-speed ease-in;
    &.lazyloaded {
      opacity: 1;
    }
  }

{% elsif settings.image_loading_style == 'blur-up' %}

  .transition--blur-up {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transform: translate3d(0,0,0);
    transition: filter 200ms, -webkit-filter 200ms;
    &.lazyloaded {
      -webkit-filter: blur(0px);
      filter: none;
      transform: scale(1);
    }
  }

{% elsif settings.image_loading_style == 'color' %}

  .transition--color {
    opacity: 0;
    transition: opacity $transition-speed ease-in;
    &.lazyloaded {
      opacity: 1;
    }
  }

  .image-element__wrap[style*=".png"] {
    background: transparent !important; //Prevents background showing on pngs that might have transparency
  }

{% elsif settings.image_loading_style == 'none' %}

//loads nothing

{% endif %}

//Ensures that small images are not stretched larger
.image__container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 0; //Make sure there is no space for descender characters

  img {
    width: 100%;
  }
}

.image-element__wrap {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.image-element__wrap img {
  height: auto;
  width: 100%;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.has-image-crop {
  .image-element__wrap {
    height: 100%;
  }

  img {
    height: 100% !important; //overrides inline height styles
    @include object-fit(cover)
  }

  &.image-crop--left {
    img {
      @include object-fit(cover, left)
    }
  }

  &.image-crop--right {
    img {
      @include object-fit(cover, right)
    }
  }

  &.image-crop--center {
    img {
      @include object-fit(cover, center)
    }
  }

  &.image-crop--none {
    img {
      @include object-fit(contain, top)
    }
  }
}
