/* # Other
================================================== */

.block {
  @extend %block;
}

.delete {
  @extend %delete;
}

.close {
  @extend %close;
}

.highlight {
  @extend %block;

  font-weight: $weight-normal;
  max-width: 100%;
  overflow: hidden;
  padding: 0;

  pre {
    overflow: auto;
    max-width: 100%;
  }
}

.loader {
  @extend %loader;
}

.number {
  @include align-items(center);
  background-color: $background;
  border-radius: $radius-rounded;
  @include inline-flexbox();
  font-size: $size-medium;
  height: 2em;
  @include justify-content(center);
  margin-right: 1.5rem;
  min-width: 2.5em;
  padding: 0.25rem 0.5rem;
  text-align: center;
  vertical-align: top;
}


