/* # Tag
================================================== */

$tag-background-color: $grey-lighter !default;
$tag-color: $text !default;
$tag-radius: $radius !default;
$tag-delete-margin: 1px !default;

.tags {
  @include align-items(center);
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(flex-start);

  .tag {
    margin-bottom: 0.5rem;

    &.tag--solid {
      background-color: $tag-solid-light;
      a {
        color: $link;
      }

      &:hover {
        background-color: $tag-solid-dark;
        a {
          color: $link-invert;
        }
      }
    }

    &.tag--outline {
      background-color: transparent;
      border: 1px solid $link;
      a {
        color: $link;
      }
      &:hover {
        background-color: $link;
        a {
          color: $link-invert;
        }
      }
    }

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  &:last-child {
    margin-bottom: -0.5rem;
  }

  &:not(:last-child) {
    margin-bottom: 0;
  }

  // Sizes
  &.are-medium {
    .tag:not(.is-normal):not(.is-large) {
      font-size: $size-normal;
    }
  }

  &.are-large {
    .tag:not(.is-normal):not(.is-medium) {
      font-size: $size-medium;
    }
  }

  &.are-outline {
    .tag:not(.is-regular) {
      background-color: transparent;
      border: 1px solid $tag-color;
    }
  }

  &.has-addons {
    .tag {
      margin-right: 0;

      &:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }

      &:not(:last-child) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  &.is-center {
    @include justify-content(center);

    .tag {
      margin-right: 0.25rem;
      margin-left: 0.25rem;
    }
  }

  &.is-right {
    @include justify-content(flex-end);

    .tag {
      &:not(:first-child) {
        margin-left: 0.5rem;
      }

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  &.has-addons {
    .tag {
      margin-right: 0;

      &:not(:first-child) {
        margin-left: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }

      &:not(:last-child) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}

.tag:not(body) {
  @include align-items(center);
  background-color: $tag-background-color;
  border-radius: $tag-radius;
  color: $tag-color;
  @include inline-flexbox();
  font-size: $size-small;
  height: 2em;
  @include justify-content(center);
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
  margin-bottom: 0.3em;
  transition: background-color $transition-speed ease-in-out;

  a {
    color: $tag-color;
  }

  .delete {
    margin-left: 0.25rem;
    margin-right: -0.375rem;
  }

  // Sizes
  &.is-normal {
    font-size: $size-small;
  }

  &.is-medium {
    font-size: $size-normal;
  }

  &.is-large {
    font-size: $size-medium;
  }

  .icon {
    &:first-child:not(:last-child) {
      margin-left: -0.375em;
      margin-right: 0.1875em;
    }

    &:last-child:not(:first-child) {
      margin-left: 0.1875em;
      margin-right: -0.375em;
    }

    &:first-child:last-child {
      margin-left: -0.375em;
      margin-right: -0.375em;
    }
  }

  // Modifiers
  &.is-delete {
    margin-left: $tag-delete-margin;
    padding: 0;
    position: relative;
    width: 2em;

    &::before,
    &::after {
      background-color: currentColor;
      content: "";
      display: block;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      transform-origin: center center;
    }

    &::before {
      height: 1px;
      width: 50%;
    }

    &::after {
      height: 50%;
      width: 1px;
    }

    &:hover,
    &:focus {
      background-color: darken($tag-background-color, 5%);
    }

    &:active {
      background-color: darken($tag-background-color, 10%);
    }
  }

  &.is-rounded {
    border-radius: $radius-rounded;
  }

  &.is-outline {
    background-color: transparent;
    border: 1px solid $tag-color;
  }
}

a.tag {
  &:hover {
    text-decoration: underline;
  }
}

// Product stickers

.tag--sale:not(body) {
  @include sale-sticker;
}

.tag--new:not(body) {
  @include new-sticker;
}

.tag--best-seller:not(body) {
  @include bestseller-sticker;
}

.tag--coming-soon:not(body) {
  @include comingsoon-sticker;
}

.tag--staff-pick:not(body) {
  @include staffpick-sticker;
}

.tag--pre-order:not(body) {
  @include preorder-sticker;
}
